workflow/1_Wazuh_Email_Alert.json
{
  "name": "1_Wazuh_Email_Alert",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "siemalertmail@gmail.com",
        "toEmail": "naveen@codesecure.in,bmdoke@pansegroup.com",
        "subject": "Wazuh SIEM Alert ",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        64
      ],
      "id": "e8a1db82-44fc-4f57-8557-539d063ed391",
      "name": "Send email",
      "webhookId": "80fbb052-8acf-4fce-bbd6-d248dc9f36c1",
      "credentials": {
        "smtp": {
          "id": "VYmd2c4wAGDOcnZM",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        208
      ],
      "id": "1b2cb495-8136-48ef-8481-43414b5fb535",
      "name": "Redis",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "e6OLOQ2dqQptV417",
          "name": "Redis account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0316159c-81fc-4441-b90a-7691ed05f201",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        208
      ],
      "id": "96f13682-88a2-4239-a950-10629c73e3ff",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('set_field').first().json.cache_key }}",
        "value": "sent",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -112,
        208
      ],
      "id": "fe72929a-5857-41d6-abb3-903d85cfbf00",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "e6OLOQ2dqQptV417",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Debug version - let's see what data we actually have\nconst fullInput = $input.first().json;\n\nconsole.log('Full input structure:', JSON.stringify(fullInput, null, 2));\nconsole.log('Body structure:', JSON.stringify(fullInput.body, null, 2));\n\n// Try different possible paths\nconst possibleData = \n  fullInput.body?._source ||  // Standard Wazuh\n  fullInput.body ||           // Direct body\n  fullInput._source ||        // Alternative path\n  fullInput;                  // Fallback\n\nconsole.log('Selected data:', JSON.stringify(possibleData, null, 2));\n\nreturn { json: possibleData };\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        240
      ],
      "id": "e710b258-0a3f-497b-b265-38d247a8a2db",
      "name": "field_map"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19900f0c-f828-4ea3-ad47-6a6ac6012bb9",
              "name": "cache_key",
              "value": "=alert_{{ $json.rule_id }}_{{ $json.agent.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        224
      ],
      "id": "964d9a21-d010-4630-b5ae-25af4bd5cd0f",
      "name": "set_field"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Set alert_text to N/A by default\nif (data.alert_text) {\n  data.alert_text = 'N/A';\n}\n\nlet rows = '';\nlet counter = 0;\n\nfunction flattenAndAddRows(obj, prefix = '') {\n  Object.entries(obj).forEach(([key, value]) => {\n    const fullKey = prefix ? `${prefix}.${key}` : key;\n    \n    if (value && typeof value === 'object' && !Array.isArray(value)) {\n      flattenAndAddRows(value, fullKey);\n    } else {\n      const displayValue = Array.isArray(value) ? value.join(', ') : String(value);\n      \n      const bgColor = counter % 2 === 0 ? '#f8f9fa' : '#ffffff';\n      \n      let rowColor = bgColor;\n      if (fullKey.includes('severity')) rowColor = '#fff3cd';\n      if (fullKey.includes('alert_title')) rowColor = '#f8d7da';\n      if (fullKey.includes('ipAddress')) rowColor = '#d1ecf1';\n      if (fullKey.includes('targetUserName')) rowColor = '#d4edda';\n      \n      rows += `<tr style=\"background-color: ${rowColor};\">\n        <td style=\"padding: 8px; border: 1px solid #dee2e6; font-weight: bold; color: #495057;\">${fullKey}</td>\n        <td style=\"padding: 8px; border: 1px solid #dee2e6;\">${displayValue}</td>\n      </tr>`;\n      counter++;\n    }\n  });\n}\n\nflattenAndAddRows(data);\n\nreturn [{ json: { html: `\n<div style=\"font-family: Arial, sans-serif; max-width: 1200px;\">\n  <h2 style=\"color: #dc3545; margin-bottom: 20px;\">🚨 Wazuh SIEM Security Alert</h2>\n  <table style=\"width: 100%; border-collapse: collapse; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    ${rows}\n  </table>\n</div>` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        64
      ],
      "id": "06e2491c-7609-4b8c-93b2-ce6dbeabb91f",
      "name": "table"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('field_map').first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        192
      ],
      "id": "00cd0047-b077-4548-9598-c528c8ad0a49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "alertFields": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "=Wazuh_Alert |  {{ $json.alert_title }}",
            "source": "={{ $json.source }}",
            "type": "={{ $json.event_type }}",
            "description": "=Wazuh Alert | {{ $json.alert_title }} | Agent: {{ $json.agent.name }} | Rule: {{ $json.rule_id }}",
            "sourceRef": "={{ $json.source }}_{{ DateTime.now().toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "summary": "=🔴 Wazuh Alert Summary\n━━━━━━━━━━━━━━━━━━━━━━\n📌 Rule ID     : {{ $json.rule_id }}\n📋 Rule Desc   : {{ $json.all_fields.rule.description }}\n🌐 Rule Group  : {{ $json.all_fields.rule.groups }}\n⚠️ Severity    : {{ $json.rule_level }} - {{ $json.severity_label }}\n🖥️ Agent       : {{ $json.agent.name }} -  {{ $json.agent.ip }}\n🕐 Timestamp   : {{ $json.timestamp }}\n🎯 MITRE       : {{ $json.all_fields.rule.mitre.technique }}\n📁 Full Log    : Pls refer below full log summary\n\n{{ JSON.stringify($json) }}\n",
            "flag": false,
            "tags": "={{ $json.all_fields.rule.groups }}",
            "tlp": 2,
            "pap": 2
          },
          "matchingColumns": [],
          "schema": [
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Type",
              "id": "type",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Source",
              "id": "source",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Source Reference",
              "id": "sourceRef",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "External Link",
              "id": "externalLink",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Date",
              "id": "date",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Follow",
              "id": "follow",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": [
                {
                  "name": "Duplicate",
                  "value": "Duplicate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Ignored",
                  "value": "Ignored",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Imported",
                  "value": "Imported",
                  "description": "Stage: Imported"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Pending",
                  "value": "Pending",
                  "description": "Stage: InProgress"
                }
              ]
            },
            {
              "displayName": "Case Template",
              "id": "caseTemplate",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": []
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "observableUi": {
          "values": [
            {
              "dataType": "ip",
              "data": "={{ $json.all_fields.data.srcip || $json.all_fields.data[\"win.eventdata.ipAddress\"] || $json.agent.ip || \"No IP Available\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        304,
        336
      ],
      "id": "c626f02a-050a-4af0-ac07-265dda3e70f9",
      "name": "Create an alert",
      "credentials": {
        "theHiveProjectApi": {
          "id": "lNFzPeokhx3NP1Nv",
          "name": "The Hive 5 account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "21219720-0300-4e29-8408-ea4b3a759e96",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        208
      ],
      "id": "e4157a25-420a-467e-bdc9-4e922cd79f9c",
      "name": "Webhook1",
      "webhookId": "21219720-0300-4e29-8408-ea4b3a759e96"
    }
  ],
  "pinData": {},
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "field_map": {
      "main": [
        [
          {
            "node": "set_field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_field": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "table": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "field_map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "598d44b0-565e-4626-972b-a7cc642fe918",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2ebe46a2fd80a296ac436b1f9c29895040c59d2e88780d264236c2a31a741e6"
  },
  "id": "ECGFFAjpacc40sHT",
  "tags": []
}