wazuh_report/3_Daily_Report_v2.json
{
  "name": "3_Daily_Report_v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "manual-trigger",
      "name": "When clicking Execute workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 10 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CLIENT CONFIGURATION - EDIT THIS SECTION\n// ============================================\nconst CLIENT_NAME = 'Codesec Technologies';\nconst CLIENT_ADDRESS = 'Chennai, Tamil Nadu, India';\nconst REPORT_EMAIL = 'naveen@codesecure.in';\nconst MANAGER_NAME = 'ip-192-168-133-24';\nconst OPENSEARCH_URL = 'https://172.17.0.1:9200';\nconst OPENSEARCH_AUTH = 'Basic YWRtaW46bXBwN05ITk9tU3k4Y0FjMmlBcCpBaGdVYUU3aytsVEI=';\n// ============================================\n\nreturn [{\n  json: {\n    client_name: CLIENT_NAME,\n    client_address: CLIENT_ADDRESS,\n    report_email: REPORT_EMAIL,\n    manager_name: MANAGER_NAME,\n    opensearch_url: OPENSEARCH_URL,\n    opensearch_auth: OPENSEARCH_AUTH\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 100],
      "id": "config-node",
      "name": "Client Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.opensearch_url }}/wazuh-alerts-*/_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "authorization", "value": "={{ $json.opensearch_auth }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"must\": [\n        { \"range\": { \"timestamp\": { \"gte\": \"now-24h\" } } }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"alerts_by_level\": {\n      \"terms\": { \"field\": \"rule.level\", \"size\": 20, \"order\": { \"_key\": \"desc\" } }\n    },\n    \"top_rules\": {\n      \"terms\": { \"field\": \"rule.id\", \"size\": 50 },\n      \"aggs\": {\n        \"rule_desc\": { \"terms\": { \"field\": \"rule.description\", \"size\": 1 } },\n        \"rule_level\": { \"terms\": { \"field\": \"rule.level\", \"size\": 1 } }\n      }\n    },\n    \"top_agents\": {\n      \"terms\": { \"field\": \"agent.name\", \"size\": 10 }\n    },\n    \"mitre_techniques\": {\n      \"terms\": { \"field\": \"rule.mitre.technique\", \"size\": 15 }\n    },\n    \"mitre_tactics\": {\n      \"terms\": { \"field\": \"rule.mitre.tactic\", \"size\": 15 }\n    },\n    \"alerts_over_time\": {\n      \"date_histogram\": {\n        \"field\": \"timestamp\",\n        \"fixed_interval\": \"1h\"\n      }\n    },\n    \"top_rule_level_evolution\": {\n      \"date_histogram\": {\n        \"field\": \"timestamp\",\n        \"fixed_interval\": \"2h\"\n      },\n      \"aggs\": {\n        \"levels\": {\n          \"terms\": { \"field\": \"rule.level\", \"size\": 10 }\n        }\n      }\n    }\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 100],
      "id": "opensearch-aggs",
      "name": "OpenSearch Aggregations",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const config = $('Client Config').first().json;\nconst data = $input.first().json;\nconst aggs = data.aggregations;\nconst totalHits = data.hits.total.value;\n\n// IST dates\nconst now = new Date();\nconst istOptions = { timeZone: 'Asia/Kolkata' };\nconst istDate = now.toLocaleDateString('en-IN', { ...istOptions, day: '2-digit', month: '2-digit', year: 'numeric' });\nconst istTime = now.toLocaleTimeString('en-IN', { ...istOptions, hour12: true, hour: '2-digit', minute: '2-digit' });\nconst yesterday = new Date(now - 86400000);\nconst fromDate = yesterday.toISOString().split('.')[0];\nconst toDate = now.toISOString().split('.')[0];\n\n// Severity mapping\nconst severityMap = {\n  0: { label: 'Info', color: '#6c757d' },\n  1: { label: 'Info', color: '#6c757d' },\n  2: { label: 'Info', color: '#6c757d' },\n  3: { label: 'Low', color: '#17a2b8' },\n  4: { label: 'Low', color: '#17a2b8' },\n  5: { label: 'Medium', color: '#ffc107' },\n  6: { label: 'Medium', color: '#ffc107' },\n  7: { label: 'High', color: '#fd7e14' },\n  8: { label: 'High', color: '#fd7e14' },\n  9: { label: 'High', color: '#fd7e14' },\n  10: { label: 'Critical', color: '#dc3545' },\n  11: { label: 'Critical', color: '#dc3545' },\n  12: { label: 'Critical', color: '#dc3545' },\n  13: { label: 'Critical', color: '#dc3545' },\n  14: { label: 'Critical', color: '#dc3545' },\n  15: { label: 'Critical', color: '#dc3545' }\n};\n\n// Process severity levels\nconst levelBuckets = aggs.alerts_by_level.buckets;\nconst severityCounts = { Critical: 0, High: 0, Medium: 0, Low: 0, Info: 0 };\nlevelBuckets.forEach(b => {\n  const sev = severityMap[b.key] || { label: 'Info' };\n  severityCounts[sev.label] += b.doc_count;\n});\n\n// Top rules\nconst topRules = aggs.top_rules.buckets.map(b => ({\n  rule_id: b.key,\n  description: b.rule_desc.buckets[0]?.key || 'N/A',\n  level: b.rule_level.buckets[0]?.key || 0,\n  count: b.doc_count\n})).sort((a, b) => b.level - a.level || b.count - a.count);\n\n// Top agents\nconst topAgents = aggs.top_agents.buckets.map(b => ({\n  name: b.key,\n  count: b.doc_count\n}));\n\n// MITRE\nconst mitreTechniques = aggs.mitre_techniques.buckets.map(b => ({\n  technique: b.key,\n  count: b.doc_count\n}));\nconst mitreTactics = aggs.mitre_tactics.buckets.map(b => ({\n  tactic: b.key,\n  count: b.doc_count\n}));\n\n// Hourly timeline\nconst timeline = aggs.alerts_over_time.buckets.map(b => ({\n  hour: new Date(b.key_as_string).toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit', hour12: false }),\n  count: b.doc_count\n}));\n\n// Level evolution (for chart)\nconst levelEvolution = aggs.top_rule_level_evolution.buckets.map(b => {\n  const levels = {};\n  b.levels.buckets.forEach(lb => { levels[lb.key] = lb.doc_count; });\n  return {\n    time: new Date(b.key_as_string).toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit', hour12: false }),\n    ...levels\n  };\n});\n\nreturn [{\n  json: {\n    client_name: config.client_name,\n    client_address: config.client_address,\n    report_email: config.report_email,\n    manager_name: config.manager_name,\n    total_alerts: totalHits,\n    severity_counts: severityCounts,\n    top_rules: topRules,\n    top_agents: topAgents,\n    mitre_techniques: mitreTechniques,\n    mitre_tactics: mitreTactics,\n    timeline: timeline,\n    level_evolution: levelEvolution,\n    level_buckets: levelBuckets,\n    from_date: fromDate,\n    to_date: toDate,\n    ist_date: istDate,\n    ist_time: istTime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 100],
      "id": "process-data",
      "name": "Process Data"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst sc = d.severity_counts;\nconst sevDef = [\n  { key:'Critical', color:'#e74c3c', icon:'!!' },\n  { key:'High', color:'#e67e22', icon:'!' },\n  { key:'Medium', color:'#f1c40f', icon:'~' },\n  { key:'Low', color:'#3498db', icon:'-' },\n  { key:'Info', color:'#95a5a6', icon:'i' }\n];\n\n// SVG Donut chart\nfunction svgDonut(data, w, h) {\n  const cx=w/2, cy=h/2, r=60, r2=40;\n  const total = data.reduce((s,d)=>s+d.value,0) || 1;\n  let cumAngle = -90;\n  const paths = data.filter(d=>d.value>0).map(d => {\n    const pct = d.value/total;\n    const angle = pct*360;\n    const startAngle = cumAngle * Math.PI/180;\n    const endAngle = (cumAngle+angle) * Math.PI/180;\n    cumAngle += angle;\n    const largeArc = angle > 180 ? 1 : 0;\n    const x1=cx+r*Math.cos(startAngle), y1=cy+r*Math.sin(startAngle);\n    const x2=cx+r*Math.cos(endAngle), y2=cy+r*Math.sin(endAngle);\n    const x3=cx+r2*Math.cos(endAngle), y3=cy+r2*Math.sin(endAngle);\n    const x4=cx+r2*Math.cos(startAngle), y4=cy+r2*Math.sin(startAngle);\n    return `<path d=\"M${x1},${y1} A${r},${r} 0 ${largeArc},1 ${x2},${y2} L${x3},${y3} A${r2},${r2} 0 ${largeArc},0 ${x4},${y4}Z\" fill=\"${d.color}\"/>`;\n  }).join('');\n  return `<svg width=\"${w}\" height=\"${h}\" viewBox=\"0 0 ${w} ${h}\">${paths}<text x=\"${cx}\" y=\"${cy-5}\" text-anchor=\"middle\" font-size=\"16\" font-weight=\"bold\" fill=\"#2c3e50\">${total.toLocaleString()}</text><text x=\"${cx}\" y=\"${cy+10}\" text-anchor=\"middle\" font-size=\"8\" fill=\"#7f8c8d\">Total</text></svg>`;\n}\n\n// SVG Vertical bar chart\nfunction svgVertBars(items, w, h, showLabels) {\n  const pad={t:10,b:showLabels?45:20,l:5,r:5};\n  const chartW=w-pad.l-pad.r, chartH=h-pad.t-pad.b;\n  const max=Math.max(...items.map(i=>i.value),1);\n  const barW=Math.min(Math.floor(chartW/items.length)-2, 30);\n  const gap=(chartW-barW*items.length)/(items.length+1);\n  let bars='';\n  items.forEach((item,i) => {\n    const barH=Math.max((item.value/max)*chartH, 2);\n    const x=pad.l+gap+(barW+gap)*i;\n    const y=pad.t+chartH-barH;\n    bars+=`<rect x=\"${x}\" y=\"${y}\" width=\"${barW}\" height=\"${barH}\" fill=\"${item.color||'#3498db'}\" rx=\"2\"/>`;\n    if(showLabels) {\n      bars+=`<text x=\"${x+barW/2}\" y=\"${pad.t+chartH+10}\" text-anchor=\"middle\" font-size=\"6\" fill=\"#7f8c8d\" transform=\"rotate(45,${x+barW/2},${pad.t+chartH+10})\">${item.label}</text>`;\n    }\n    bars+=`<text x=\"${x+barW/2}\" y=\"${y-3}\" text-anchor=\"middle\" font-size=\"6\" fill=\"#555\">${item.value>=1000?(item.value/1000).toFixed(0)+'k':item.value}</text>`;\n  });\n  // baseline\n  bars+=`<line x1=\"${pad.l}\" y1=\"${pad.t+chartH}\" x2=\"${w-pad.r}\" y2=\"${pad.t+chartH}\" stroke=\"#ddd\" stroke-width=\"1\"/>`;\n  return `<svg width=\"${w}\" height=\"${h}\" viewBox=\"0 0 ${w} ${h}\">${bars}</svg>`;\n}\n\n// SVG Horizontal bar chart\nfunction svgHorizBars(items, w, h) {\n  const pad={t:5,b:5,l:120,r:60};\n  const chartW=w-pad.l-pad.r;\n  const barH=Math.min(Math.floor((h-pad.t-pad.b)/items.length)-4, 18);\n  const max=Math.max(...items.map(i=>i.value),1);\n  let bars='';\n  items.forEach((item,i) => {\n    const bw=Math.max((item.value/max)*chartW, 3);\n    const y=pad.t+(barH+4)*i;\n    bars+=`<text x=\"${pad.l-6}\" y=\"${y+barH/2+3}\" text-anchor=\"end\" font-size=\"7\" fill=\"#2c3e50\">${item.label.length>18?item.label.substring(0,18)+'...':item.label}</text>`;\n    bars+=`<rect x=\"${pad.l}\" y=\"${y}\" width=\"${bw}\" height=\"${barH}\" fill=\"${item.color||'#3498db'}\" rx=\"3\"/>`;\n    bars+=`<text x=\"${pad.l+bw+4}\" y=\"${y+barH/2+3}\" font-size=\"7\" font-weight=\"bold\" fill=\"#2c3e50\">${item.value.toLocaleString()}</text>`;\n  });\n  return `<svg width=\"${w}\" height=\"${h}\" viewBox=\"0 0 ${w} ${h}\">${bars}</svg>`;\n}\n\n// Donut data\nconst donutData = sevDef.map(s=>({value:sc[s.key],color:s.color,label:s.key}));\nconst donutSvg = svgDonut(donutData, 160, 160);\nconst donutLegend = sevDef.map(s=>`<div style=\"display:flex;align-items:center;margin:3px 0\"><div style=\"width:12px;height:12px;border-radius:2px;background:${s.color};margin-right:6px\"></div><span style=\"font-size:9px;width:55px\">${s.key}</span><span style=\"font-size:9px;font-weight:bold\">${sc[s.key].toLocaleString()}</span></div>`).join('');\n\n// Timeline vertical bars\nconst tlColors = d.timeline.map(t=>'#3498db');\nconst timelineItems = d.timeline.map((t,i)=>({value:t.count,label:t.hour,color:'#3498db'}));\nconst timelineSvg = svgVertBars(timelineItems, 750, 140, true);\n\n// Agents horizontal bars\nconst agentPalette = ['#2ecc71','#3498db','#9b59b6','#e67e22','#1abc9c','#e74c3c','#f39c12','#2980b9','#8e44ad','#16a085'];\nconst agentItems = d.top_agents.map((a,i)=>({value:a.count,label:a.name,color:agentPalette[i%10]}));\nconst agentSvg = svgHorizBars(agentItems, 380, Math.max(agentItems.length*22+10, 80));\n\n// MITRE techniques\nconst mitrePalette = ['#e74c3c','#e67e22','#f1c40f','#2ecc71','#1abc9c','#3498db','#9b59b6','#34495e','#e91e63','#00bcd4','#8bc34a','#ff5722','#607d8b','#795548','#cddc39'];\nconst techItems = d.mitre_techniques.map((m,i)=>({value:m.count,label:m.technique,color:mitrePalette[i%15]}));\nconst techSvg = svgHorizBars(techItems, 380, Math.max(techItems.length*22+10, 80));\n\n// MITRE tactics\nconst tacticItems = d.mitre_tactics.map((m,i)=>({value:m.count,label:m.tactic,color:mitrePalette[i%15]}));\nconst tacticSvg = svgHorizBars(tacticItems, 380, Math.max(tacticItems.length*22+10, 80));\n\n// Alerts table - SORTED BY LEVEL DESC then count desc\nconst sortedRules = [...d.top_rules].sort((a,b) => b.level - a.level || b.count - a.count);\nconst ruleRows = sortedRules.map((r, i) => {\n  const lc = r.level>=10?'#e74c3c':r.level>=7?'#e67e22':r.level>=5?'#f1c40f':r.level>=3?'#3498db':'#95a5a6';\n  const tc = r.level>=5?'#fff':'#fff';\n  const bg = i%2===0?'#fff':'#f7f9fc';\n  return `<tr style=\"background:${bg}\"><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;text-align:center;font-weight:700;color:#2c3e50\">${r.rule_id}</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;font-size:7.5px;color:#34495e\">${r.description.length>120?r.description.substring(0,120)+'...':r.description}</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;text-align:center\"><span style=\"background:${lc};color:${tc};padding:2px 8px;border-radius:10px;font-size:7px;font-weight:700\">${r.level}</span></td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;color:#2c3e50\">${r.count.toLocaleString()}</td></tr>`;\n}).join('');\n\n// Severity stat cards\nconst statCards = sevDef.map(s => `<div style=\"flex:1;text-align:center;padding:12px 8px;background:linear-gradient(135deg,${s.color}15,${s.color}08);border-radius:8px;border:1px solid ${s.color}30;position:relative;overflow:hidden\"><div style=\"position:absolute;top:-10px;right:-5px;font-size:40px;opacity:0.08;font-weight:900\">${s.icon}</div><div style=\"font-size:22px;font-weight:800;color:${s.color};letter-spacing:-0.5px\">${sc[s.key].toLocaleString()}</div><div style=\"font-size:8px;color:#7f8c8d;margin-top:3px;text-transform:uppercase;letter-spacing:1px\">${s.key}</div></div>`).join('');\n\nconst htmlReport = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Threat Hunting Report</title>\n<style>\n@page{size:A4 landscape;margin:0.3in}\n*{margin:0;padding:0;box-sizing:border-box}\nbody{font-family:'Segoe UI',Arial,sans-serif;font-size:9px;color:#2c3e50;background:#fff}\n.page{page-break-after:always;padding:12px 20px;position:relative}\n.page:last-child{page-break-after:auto}\n.card{background:#fff;border-radius:10px;box-shadow:0 2px 8px rgba(0,0,0,0.06);padding:14px;margin-bottom:12px;border:1px solid #ecf0f1}\n.section-title{font-size:13px;font-weight:700;color:#2c3e50;margin:0 0 10px;padding:6px 0;border-bottom:2px solid #3498db;display:flex;align-items:center}\n.section-title .dot{width:8px;height:8px;border-radius:50%;background:#3498db;margin-right:8px}\n.header-bar{background:linear-gradient(135deg,#2c3e50,#3498db);color:#fff;padding:16px 24px;border-radius:10px;margin-bottom:14px}\n.header-bar h1{font-size:22px;font-weight:800;margin-bottom:4px;letter-spacing:-0.5px}\n.header-bar p{font-size:9px;opacity:0.85}\n.two-col{display:flex;gap:14px}\n.two-col>div{flex:1}\n.footer{position:fixed;bottom:8px;left:20px;right:20px;text-align:center;font-size:7px;color:#bdc3c7;border-top:1px solid #ecf0f1;padding-top:4px}\ntable{width:100%;border-collapse:collapse;font-size:8px}\nthead th{background:linear-gradient(135deg,#2c3e50,#34495e);color:#fff;padding:6px 8px;text-align:left;font-size:7.5px;text-transform:uppercase;letter-spacing:0.5px}\n</style>\n</head>\n<body>\n\n<!-- PAGE 1: Executive Summary -->\n<div class=\"page\">\n  <div class=\"header-bar\">\n    <h1>Threat Hunting Report</h1>\n    <p>Security alerts analysis for <strong>${d.client_name}</strong> &bull; ${d.client_address}</p>\n    <p style=\"margin-top:4px\">${d.from_date} &rarr; ${d.to_date} &bull; Manager: ${d.manager_name}</p>\n  </div>\n\n  <div style=\"display:flex;gap:10px;margin-bottom:14px\">${statCards}</div>\n\n  <div class=\"two-col\">\n    <div class=\"card\">\n      <div class=\"section-title\"><span class=\"dot\"></span>Severity Distribution</div>\n      <div style=\"display:flex;align-items:center;justify-content:center;gap:20px\">\n        ${donutSvg}\n        <div>${donutLegend}</div>\n      </div>\n    </div>\n    <div class=\"card\">\n      <div class=\"section-title\"><span class=\"dot\"></span>Top ${d.top_agents.length} Agents</div>\n      ${agentSvg}\n    </div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"section-title\"><span class=\"dot\"></span>Alerts Timeline (24h)</div>\n    ${timelineSvg}\n  </div>\n</div>\n\n<!-- PAGE 2: MITRE ATT&CK -->\n<div class=\"page\">\n  <div class=\"header-bar\" style=\"padding:10px 24px\">\n    <h1 style=\"font-size:16px\">MITRE ATT&CK Analysis</h1>\n    <p>Techniques and tactics detected in the last 24 hours</p>\n  </div>\n\n  <div class=\"two-col\">\n    <div class=\"card\">\n      <div class=\"section-title\"><span class=\"dot\" style=\"background:#e74c3c\"></span>Top Techniques</div>\n      ${techSvg}\n    </div>\n    <div class=\"card\">\n      <div class=\"section-title\"><span class=\"dot\" style=\"background:#e67e22\"></span>Top Tactics</div>\n      ${tacticSvg}\n    </div>\n  </div>\n</div>\n\n<!-- PAGE 3+: Alerts Summary -->\n<div class=\"page\">\n  <div class=\"header-bar\" style=\"padding:10px 24px\">\n    <h1 style=\"font-size:16px\">Alerts Summary</h1>\n    <p>All rules sorted by severity level (Critical &rarr; Low) &bull; ${sortedRules.length} unique rules</p>\n  </div>\n\n  <div class=\"card\" style=\"padding:0;overflow:hidden\">\n    <table>\n      <thead>\n        <tr>\n          <th style=\"width:55px;text-align:center\">Rule ID</th>\n          <th>Description</th>\n          <th style=\"width:45px;text-align:center\">Level</th>\n          <th style=\"width:70px;text-align:right;padding-right:12px\">Count</th>\n        </tr>\n      </thead>\n      <tbody>${ruleRows}</tbody>\n    </table>\n  </div>\n</div>\n\n<div class=\"footer\">\n  <strong>${d.client_name}</strong> &bull; ${d.client_address} &bull; Report generated: ${d.ist_date} ${d.ist_time} &bull; Wazuh SIEM Automated Report\n</div>\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    html_report: htmlReport,\n    total_records: d.total_alerts,\n    report_date: d.ist_date,\n    report_email: d.report_email,\n    file_name: 'security_report_' + new Date().toISOString().split('T')[0].replace(/-/g,'') + '.html'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 100],
      "id": "html-gen",
      "name": "Generate Report HTML"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\n\nreturn [{\n  json: input,\n  binary: {\n    data: {\n      data: Buffer.from(input.html_report, 'utf8'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100],
      "id": "html-to-binary",
      "name": "HTML to Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "landscape", "value": "true" },
            { "name": "marginTop", "value": "0.3" },
            { "name": "marginBottom", "value": "0.5" },
            { "name": "marginLeft", "value": "0.3" },
            { "name": "marginRight", "value": "0.3" },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "security_report.pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 100],
      "id": "gotenberg-pdf",
      "name": "Convert to PDF"
    },
    {
      "parameters": {
        "fromEmail": "siemalertmail@gmail.com",
        "toEmail": "={{ $('Process Data').first().json.report_email }}",
        "subject": "={{ $('Process Data').first().json.client_name }} - Wazuh SIEM Daily Report - {{ $('Process Data').first().json.ist_date }}",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#007bff;border-bottom:2px solid #007bff;padding-bottom:10px\">Threat Hunting Report - Daily Summary</h2>\n  <div style=\"background:#f8f9fa;padding:15px;border-radius:5px;margin:20px 0\">\n    <h3 style=\"margin-top:0;color:#333\">Report Summary</h3>\n    <ul style=\"list-style:none;padding:0\">\n      <li style=\"margin:8px 0\"><strong>Client:</strong> {{ $('Process Data').first().json.client_name }}</li>\n      <li style=\"margin:8px 0\"><strong>Total Alerts:</strong> {{ $('Process Data').first().json.total_alerts }}</li>\n      <li style=\"margin:8px 0\"><strong>Report Date:</strong> {{ $('Process Data').first().json.ist_date }}</li>\n      <li style=\"margin:8px 0\"><strong>Time Period:</strong> Last 24 hours</li>\n      <li style=\"margin:8px 0\"><strong>Critical:</strong> {{ $('Process Data').first().json.severity_counts.Critical }} | <strong>High:</strong> {{ $('Process Data').first().json.severity_counts.High }} | <strong>Medium:</strong> {{ $('Process Data').first().json.severity_counts.Medium }}</li>\n    </ul>\n  </div>\n  <p>Please find attached the detailed threat hunting report with severity breakdown, MITRE ATT&CK mapping, top agents, and full alerts summary.</p>\n  <div style=\"background:#fff3cd;border:1px solid #ffeaa7;padding:10px;border-radius:5px;margin:15px 0\">\n    <p style=\"margin:0;font-size:14px;color:#856404\">This report was automatically generated from Wazuh SIEM.</p>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false,
          "attachments": "security_report.pdf"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1750, 100],
      "id": "send-email",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "tO6oKKz2a85ejEh4",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "When clicking Execute workflow": {
      "main": [[ { "node": "Client Config", "type": "main", "index": 0 } ]]
    },
    "Schedule Trigger": {
      "main": [[ { "node": "Client Config", "type": "main", "index": 0 } ]]
    },
    "Client Config": {
      "main": [[ { "node": "OpenSearch Aggregations", "type": "main", "index": 0 } ]]
    },
    "OpenSearch Aggregations": {
      "main": [[ { "node": "Process Data", "type": "main", "index": 0 } ]]
    },
    "Process Data": {
      "main": [[ { "node": "Generate Report HTML", "type": "main", "index": 0 } ]]
    },
    "Generate Report HTML": {
      "main": [[ { "node": "HTML to Binary", "type": "main", "index": 0 } ]]
    },
    "HTML to Binary": {
      "main": [[ { "node": "Convert to PDF", "type": "main", "index": 0 } ]]
    },
    "Convert to PDF": {
      "main": [[ { "node": "Send Email", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
