wazuh_report/4_Weekly_Report_v1.json
{
  "name": "4_Weekly_Report_v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "manual-trigger",
      "name": "When clicking Execute workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtDay": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CLIENT CONFIGURATION - EDIT THIS SECTION\n// ============================================\nconst CLIENT_NAME = 'Codesec Technologies';\nconst CLIENT_ADDRESS = 'Chennai, Tamil Nadu, India';\nconst REPORT_EMAIL = 'naveen@codesecure.in';\nconst MANAGER_NAME = 'ip-192-168-133-24';\nconst OPENSEARCH_URL = 'https://172.17.0.1:9200';\nconst OPENSEARCH_AUTH = 'Basic YWRtaW46bXBwN05ITk9tU3k4Y0FjMmlBcCpBaGdVYUU3aytsVEI=';\nconst CLIENT_LOGO = 'https://codesecure.in/images/codesec-logo1.png';\n// ============================================\n\nreturn [{\n  json: {\n    client_name: CLIENT_NAME,\n    client_address: CLIENT_ADDRESS,\n    report_email: REPORT_EMAIL,\n    manager_name: MANAGER_NAME,\n    opensearch_url: OPENSEARCH_URL,\n    opensearch_auth: OPENSEARCH_AUTH,\n    client_logo: CLIENT_LOGO\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        100
      ],
      "id": "config-node",
      "name": "Client Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.opensearch_url }}/wazuh-alerts-*/_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "={{ $json.opensearch_auth }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"size\": 0,\n  \"track_total_hits\": true,\n  \"query\": {\n    \"range\": {\n      \"timestamp\": {\n        \"gte\": \"now-14d\"\n      }\n    }\n  },\n  \"aggs\": {\n    \"this_week\": {\n      \"filter\": {\n        \"range\": {\n          \"timestamp\": {\n            \"gte\": \"now-7d\"\n          }\n        }\n      },\n      \"aggs\": {\n        \"alerts_by_level\": {\n          \"terms\": {\n            \"field\": \"rule.level\",\n            \"size\": 20,\n            \"order\": {\n              \"_key\": \"desc\"\n            }\n          }\n        },\n        \"top_rules\": {\n          \"terms\": {\n            \"field\": \"rule.id\",\n            \"size\": 50\n          },\n          \"aggs\": {\n            \"rule_desc\": {\n              \"terms\": {\n                \"field\": \"rule.description\",\n                \"size\": 1\n              }\n            },\n            \"rule_level\": {\n              \"terms\": {\n                \"field\": \"rule.level\",\n                \"size\": 1\n              }\n            }\n          }\n        },\n        \"top_agents\": {\n          \"terms\": {\n            \"field\": \"agent.name\",\n            \"size\": 15\n          },\n          \"aggs\": {\n            \"by_level\": {\n              \"terms\": {\n                \"field\": \"rule.level\",\n                \"size\": 20\n              }\n            }\n          }\n        },\n        \"mitre_techniques\": {\n          \"terms\": {\n            \"field\": \"rule.mitre.technique\",\n            \"size\": 15\n          }\n        },\n        \"mitre_tactics\": {\n          \"terms\": {\n            \"field\": \"rule.mitre.tactic\",\n            \"size\": 15\n          }\n        },\n        \"alerts_over_time\": {\n          \"date_histogram\": {\n            \"field\": \"timestamp\",\n            \"calendar_interval\": \"1d\",\n            \"format\": \"dd MMM\"\n          },\n          \"aggs\": {\n            \"by_level\": {\n              \"range\": {\n                \"field\": \"rule.level\",\n                \"ranges\": [\n                  {\n                    \"key\": \"low\",\n                    \"from\": 0,\n                    \"to\": 7\n                  },\n                  {\n                    \"key\": \"medium\",\n                    \"from\": 7,\n                    \"to\": 12\n                  },\n                  {\n                    \"key\": \"high\",\n                    \"from\": 12,\n                    \"to\": 15\n                  },\n                  {\n                    \"key\": \"critical\",\n                    \"from\": 15\n                  }\n                ]\n              }\n            }\n          }\n        },\n        \"auth_fail\": {\n          \"filter\": {\n            \"bool\": {\n              \"should\": [\n                {\n                  \"match_phrase\": {\n                    \"rule.groups\": \"win_authentication_failed\"\n                  }\n                },\n                {\n                  \"match_phrase\": {\n                    \"rule.groups\": \"authentication_failed\"\n                  }\n                },\n                {\n                  \"match_phrase\": {\n                    \"rule.groups\": \"authentication_failures\"\n                  }\n                }\n              ],\n              \"minimum_should_match\": 1\n            }\n          },\n          \"aggs\": {\n            \"by_win_user\": {\n              \"terms\": {\n                \"field\": \"data.win.eventdata.targetUserName\",\n                \"size\": 5\n              }\n            },\n            \"by_dstuser\": {\n              \"terms\": {\n                \"field\": \"data.dstuser\",\n                \"size\": 5\n              }\n            },\n            \"by_srcuser\": {\n              \"terms\": {\n                \"field\": \"data.srcuser\",\n                \"size\": 5\n              }\n            },\n            \"by_win_ip\": {\n              \"terms\": {\n                \"field\": \"data.win.eventdata.ipAddress\",\n                \"size\": 5\n              }\n            },\n            \"by_srcip\": {\n              \"terms\": {\n                \"field\": \"data.srcip\",\n                \"size\": 5\n              }\n            },\n            \"top_rules\": {\n              \"terms\": {\n                \"field\": \"rule.description\",\n                \"size\": 5\n              }\n            }\n          }\n        },\n        \"auth_success\": {\n          \"filter\": {\n            \"match_phrase\": {\n              \"rule.groups\": \"authentication_success\"\n            }\n          },\n          \"aggs\": {\n            \"by_win_user\": {\n              \"terms\": {\n                \"field\": \"data.win.eventdata.targetUserName\",\n                \"size\": 5\n              }\n            },\n            \"by_dstuser\": {\n              \"terms\": {\n                \"field\": \"data.dstuser\",\n                \"size\": 5\n              }\n            },\n            \"by_srcuser\": {\n              \"terms\": {\n                \"field\": \"data.srcuser\",\n                \"size\": 5\n              }\n            },\n            \"top_rules\": {\n              \"terms\": {\n                \"field\": \"rule.description\",\n                \"size\": 5\n              }\n            }\n          }\n        },\n        \"vuln\": {\n          \"filter\": {\n            \"term\": {\n              \"rule.groups\": \"vulnerability-detector\"\n            }\n          },\n          \"aggs\": {\n            \"by_sev\": {\n              \"terms\": {\n                \"field\": \"data.vulnerability.severity\",\n                \"size\": 10\n              }\n            },\n            \"top_cve\": {\n              \"terms\": {\n                \"field\": \"data.vulnerability.cve\",\n                \"size\": 10\n              }\n            },\n            \"top_agent\": {\n              \"terms\": {\n                \"field\": \"agent.name\",\n                \"size\": 5\n              }\n            },\n            \"top_pkg\": {\n              \"terms\": {\n                \"field\": \"data.vulnerability.package.name\",\n                \"size\": 5\n              }\n            }\n          }\n        },\n        \"level12\": {\n          \"filter\": {\n            \"range\": {\n              \"rule.level\": {\n                \"gte\": 12\n              }\n            }\n          }\n        },\n        \"sca\": {\n          \"filter\": {\n            \"term\": {\n              \"rule.groups\": \"sca\"\n            }\n          },\n          \"aggs\": {\n            \"by_result\": {\n              \"terms\": {\n                \"field\": \"data.sca.check.result\",\n                \"size\": 5\n              }\n            },\n            \"by_policy\": {\n              \"terms\": {\n                \"field\": \"data.sca.policy\",\n                \"size\": 5\n              }\n            }\n          }\n        },\n        \"fim\": {\n          \"filter\": {\n            \"term\": {\n              \"rule.groups\": \"syscheck\"\n            }\n          },\n          \"aggs\": {\n            \"by_event\": {\n              \"terms\": {\n                \"field\": \"syscheck.event\",\n                \"size\": 5\n              }\n            },\n            \"by_agent\": {\n              \"terms\": {\n                \"field\": \"agent.name\",\n                \"size\": 5\n              }\n            },\n            \"by_path\": {\n              \"terms\": {\n                \"field\": \"syscheck.path\",\n                \"size\": 10\n              }\n            }\n          }\n        },\n        \"compliance_pci\": {\n          \"filter\": {\n            \"exists\": {\n              \"field\": \"rule.pci_dss\"\n            }\n          },\n          \"aggs\": {\n            \"controls\": {\n              \"terms\": {\n                \"field\": \"rule.pci_dss\",\n                \"size\": 15\n              }\n            }\n          }\n        },\n        \"compliance_hipaa\": {\n          \"filter\": {\n            \"exists\": {\n              \"field\": \"rule.hipaa\"\n            }\n          },\n          \"aggs\": {\n            \"controls\": {\n              \"terms\": {\n                \"field\": \"rule.hipaa\",\n                \"size\": 15\n              }\n            }\n          }\n        },\n        \"compliance_gdpr\": {\n          \"filter\": {\n            \"exists\": {\n              \"field\": \"rule.gdpr\"\n            }\n          },\n          \"aggs\": {\n            \"controls\": {\n              \"terms\": {\n                \"field\": \"rule.gdpr\",\n                \"size\": 15\n              }\n            }\n          }\n        },\n        \"compliance_nist\": {\n          \"filter\": {\n            \"exists\": {\n              \"field\": \"rule.nist_800_53\"\n            }\n          },\n          \"aggs\": {\n            \"controls\": {\n              \"terms\": {\n                \"field\": \"rule.nist_800_53\",\n                \"size\": 15\n              }\n            }\n          }\n        },\n        \"compliance_tsc\": {\n          \"filter\": {\n            \"exists\": {\n              \"field\": \"rule.tsc\"\n            }\n          },\n          \"aggs\": {\n            \"controls\": {\n              \"terms\": {\n                \"field\": \"rule.tsc\",\n                \"size\": 15\n              }\n            }\n          }\n        },\n        \"top_srcip\": {\n          \"terms\": {\n            \"field\": \"data.win.eventdata.ipAddress\",\n            \"size\": 10\n          }\n        },\n        \"top_srcip_linux\": {\n          \"terms\": {\n            \"field\": \"data.srcip\",\n            \"size\": 10\n          }\n        },\n        \"incidents\": {\n          \"filter\": {\n            \"range\": {\n              \"rule.level\": {\n                \"gte\": 12\n              }\n            }\n          },\n          \"aggs\": {\n            \"by_rule\": {\n              \"terms\": {\n                \"field\": \"rule.id\",\n                \"size\": 20,\n                \"order\": {\n                  \"max_level\": \"desc\"\n                }\n              },\n              \"aggs\": {\n                \"max_level\": {\n                  \"max\": {\n                    \"field\": \"rule.level\"\n                  }\n                },\n                \"rule_desc\": {\n                  \"terms\": {\n                    \"field\": \"rule.description\",\n                    \"size\": 1\n                  }\n                },\n                \"agents\": {\n                  \"terms\": {\n                    \"field\": \"agent.name\",\n                    \"size\": 5\n                  }\n                },\n                \"latest\": {\n                  \"top_hits\": {\n                    \"size\": 1,\n                    \"_source\": [\n                      \"rule.level\",\n                      \"rule.description\",\n                      \"rule.id\",\n                      \"agent.name\",\n                      \"data.srcip\",\n                      \"data.win.eventdata.ipAddress\",\n                      \"timestamp\"\n                    ],\n                    \"sort\": [\n                      {\n                        \"timestamp\": {\n                          \"order\": \"desc\"\n                        }\n                      }\n                    ]\n                  }\n                }\n              }\n            }\n          }\n        },\n        \"auth_fail_daily\": {\n          \"date_histogram\": {\n            \"field\": \"timestamp\",\n            \"calendar_interval\": \"1d\",\n            \"format\": \"dd MMM\"\n          },\n          \"aggs\": {\n            \"count\": {\n              \"filter\": {\n                \"terms\": {\n                  \"rule.groups\": [\n                    \"win_authentication_failed\",\n                    \"authentication_failed\",\n                    \"authentication_failures\"\n                  ]\n                }\n              }\n            }\n          }\n        },\n        \"fim_daily\": {\n          \"date_histogram\": {\n            \"field\": \"timestamp\",\n            \"calendar_interval\": \"1d\",\n            \"format\": \"dd MMM\"\n          },\n          \"aggs\": {\n            \"count\": {\n              \"filter\": {\n                \"term\": {\n                  \"rule.groups\": \"syscheck\"\n                }\n              }\n            }\n          }\n        }\n      }\n    },\n    \"prev_week_total\": {\n      \"filter\": {\n        \"range\": {\n          \"timestamp\": {\n            \"gte\": \"now-14d\",\n            \"lt\": \"now-7d\"\n          }\n        }\n      },\n      \"aggs\": {\n        \"count\": {\n          \"value_count\": {\n            \"field\": \"rule.level\"\n          }\n        }\n      }\n    },\n    \"prev_week_by_level\": {\n      \"filter\": {\n        \"range\": {\n          \"timestamp\": {\n            \"gte\": \"now-14d\",\n            \"lt\": \"now-7d\"\n          }\n        }\n      },\n      \"aggs\": {\n        \"levels\": {\n          \"range\": {\n            \"field\": \"rule.level\",\n            \"ranges\": [\n              {\n                \"key\": \"low\",\n                \"from\": 0,\n                \"to\": 7\n              },\n              {\n                \"key\": \"medium\",\n                \"from\": 7,\n                \"to\": 12\n              },\n              {\n                \"key\": \"high\",\n                \"from\": 12,\n                \"to\": 15\n              },\n              {\n                \"key\": \"critical\",\n                \"from\": 15\n              }\n            ]\n          }\n        }\n      }\n    }\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        100
      ],
      "id": "opensearch-aggs",
      "name": "OpenSearch Aggregations",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const config = $('Client Config').first().json;\nconst data = $input.first().json;\nconst aggs = data.aggregations.this_week;\nconst totalHits = aggs.doc_count;\nconst prevWeekTotal = data.aggregations.prev_week_total.doc_count;\nconst prevWeekLevels = (data.aggregations.prev_week_by_level.levels||{buckets:[]}).buckets;\n\nconst now = new Date();\nconst istOpt = { timeZone: 'Asia/Kolkata' };\nconst istDate = now.toLocaleDateString('en-IN', { ...istOpt, day:'2-digit', month:'2-digit', year:'numeric' });\nconst istTime = now.toLocaleTimeString('en-IN', { ...istOpt, hour12:true, hour:'2-digit', minute:'2-digit' });\nconst lastWeek = new Date(now - 604800000);\nconst fromDate = lastWeek.toLocaleDateString('en-IN', { ...istOpt, day:'2-digit', month:'short', year:'numeric' }) + ' ' + lastWeek.toLocaleTimeString('en-IN', { ...istOpt, hour:'2-digit', minute:'2-digit', hour12:true });\nconst toDate = now.toLocaleDateString('en-IN', { ...istOpt, day:'2-digit', month:'short', year:'numeric' }) + ' ' + now.toLocaleTimeString('en-IN', { ...istOpt, hour:'2-digit', minute:'2-digit', hour12:true });\n\n// WAZUH OFFICIAL severity mapping\n// Critical: level >= 15 | High: 12-14 | Medium: 7-11 | Low: 0-6\nconst levelBuckets = aggs.alerts_by_level.buckets;\nconst severityCounts = { Critical:0, High:0, Medium:0, Low:0 };\nlevelBuckets.forEach(b => {\n  const lvl = b.key;\n  if (lvl >= 15) severityCounts.Critical += b.doc_count;\n  else if (lvl >= 12) severityCounts.High += b.doc_count;\n  else if (lvl >= 7) severityCounts.Medium += b.doc_count;\n  else severityCounts.Low += b.doc_count;\n});\n\nconst topRules = aggs.top_rules.buckets.map(b => ({\n  rule_id: b.key,\n  description: b.rule_desc.buckets[0]?.key || 'N/A',\n  level: b.rule_level.buckets[0]?.key || 0,\n  count: b.doc_count\n})).sort((a,b) => b.level-a.level || b.count-a.count);\n\nconst topAgents = aggs.top_agents.buckets.map(b => {\n  const levels = (b.by_level||{buckets:[]}).buckets;\n  let crit=0,high=0,med=0,low=0;\n  levels.forEach(l=>{ if(l.key>=15)crit+=l.doc_count; else if(l.key>=12)high+=l.doc_count; else if(l.key>=7)med+=l.doc_count; else low+=l.doc_count; });\n  return { name:b.key, count:b.doc_count, critical:crit, high:high, medium:med, low:low };\n});\nconst mitreTechniques = aggs.mitre_techniques.buckets.map(b => ({ technique:b.key, count:b.doc_count }));\nconst mitreTactics = aggs.mitre_tactics.buckets.map(b => ({ tactic:b.key, count:b.doc_count }));\nconst timeline = aggs.alerts_over_time.buckets.map(b => ({\n  hour: new Date(b.key_as_string).toLocaleTimeString('en-IN', { timeZone:'Asia/Kolkata', hour:'2-digit', minute:'2-digit', hour12:false }),\n  count: b.doc_count\n}));\n\nreturn [{ json: {\n  client_name: config.client_name, client_address: config.client_address,\n  report_email: config.report_email, manager_name: config.manager_name,\n  client_logo: config.client_logo, total_alerts: totalHits,\n  severity_counts: severityCounts, top_rules: topRules,\n  top_agents: topAgents, mitre_techniques: mitreTechniques,\n  mitre_tactics: mitreTactics, timeline: timeline,\n  auth_fail_count: aggs.auth_fail.doc_count,\n  auth_fail_users: [...(aggs.auth_fail.by_win_user||{buckets:[]}).buckets.map(b=>({user:b.key,count:b.doc_count})),...(aggs.auth_fail.by_dstuser||{buckets:[]}).buckets.filter(b=>b.key!=='-'&&b.key!=='').map(b=>({user:b.key,count:b.doc_count})),...(aggs.auth_fail.by_srcuser||{buckets:[]}).buckets.filter(b=>b.key!=='-'&&b.key!=='').map(b=>({user:b.key,count:b.doc_count}))].reduce((acc,x)=>{const e=acc.find(a=>a.user===x.user);if(e)e.count=Math.max(e.count,x.count);else acc.push(x);return acc;},[]).sort((a,b)=>b.count-a.count).slice(0,5),\n  auth_fail_ips: [...(aggs.auth_fail.by_win_ip||{buckets:[]}).buckets.map(b=>({ip:b.key,count:b.doc_count})),...(aggs.auth_fail.by_srcip||{buckets:[]}).buckets.filter(b=>b.key!=='-'&&b.key!=='').map(b=>({ip:b.key,count:b.doc_count}))].reduce((acc,x)=>{const e=acc.find(a=>a.ip===x.ip);if(e)e.count=Math.max(e.count,x.count);else acc.push(x);return acc;},[]).sort((a,b)=>b.count-a.count).slice(0,5),\n  auth_fail_events: (aggs.auth_fail.top_rules||{buckets:[]}).buckets.map(b=>({desc:b.key,count:b.doc_count})),\n  auth_success_count: aggs.auth_success.doc_count,\n  auth_success_users: [...(aggs.auth_success.by_win_user||{buckets:[]}).buckets.map(b=>({user:b.key,count:b.doc_count})),...(aggs.auth_success.by_dstuser||{buckets:[]}).buckets.filter(b=>b.key!=='-'&&b.key!=='').map(b=>({user:b.key,count:b.doc_count})),...(aggs.auth_success.by_srcuser||{buckets:[]}).buckets.filter(b=>b.key!=='-'&&b.key!=='').map(b=>({user:b.key,count:b.doc_count}))].reduce((acc,x)=>{const e=acc.find(a=>a.user===x.user);if(e)e.count=Math.max(e.count,x.count);else acc.push(x);return acc;},[]).sort((a,b)=>b.count-a.count).slice(0,5),\n  auth_success_events: (aggs.auth_success.top_rules||{buckets:[]}).buckets.map(b=>({desc:b.key,count:b.doc_count})),\n  vuln_total: aggs.vuln.doc_count,\n  vuln_by_sev: (aggs.vuln.by_sev||{buckets:[]}).buckets.map(b=>({severity:b.key,count:b.doc_count})),\n  vuln_top_cve: (aggs.vuln.top_cve||{buckets:[]}).buckets.map(b=>({cve:b.key,count:b.doc_count})),\n  vuln_top_agent: (aggs.vuln.top_agent||{buckets:[]}).buckets.map(b=>({agent:b.key,count:b.doc_count})),\n  vuln_top_pkg: (aggs.vuln.top_pkg||{buckets:[]}).buckets.map(b=>({pkg:b.key,count:b.doc_count})),\n  level12_count: aggs.level12.doc_count,\n  sca_total: aggs.sca.doc_count,\n  sca_results: (aggs.sca.by_result||{buckets:[]}).buckets.map(b=>({result:b.key,count:b.doc_count})),\n  sca_policies: (aggs.sca.by_policy||{buckets:[]}).buckets.map(b=>({policy:b.key,count:b.doc_count})),\n  fim_total: aggs.fim.doc_count,\n  fim_events: (aggs.fim.by_event||{buckets:[]}).buckets.map(b=>({event:b.key,count:b.doc_count})),\n  fim_agents: (aggs.fim.by_agent||{buckets:[]}).buckets.map(b=>({agent:b.key,count:b.doc_count})),\n  fim_paths: (aggs.fim.by_path||{buckets:[]}).buckets.map(b=>({path:b.key,count:b.doc_count})),\n    // Compliance mapping\n    compliance_pci_total: aggs.compliance_pci.doc_count,\n    compliance_pci_controls: (aggs.compliance_pci.controls||{buckets:[]}).buckets.map(b=>({control:b.key,count:b.doc_count})),\n    compliance_hipaa_total: aggs.compliance_hipaa.doc_count,\n    compliance_hipaa_controls: (aggs.compliance_hipaa.controls||{buckets:[]}).buckets.map(b=>({control:b.key,count:b.doc_count})),\n    compliance_gdpr_total: aggs.compliance_gdpr.doc_count,\n    compliance_gdpr_controls: (aggs.compliance_gdpr.controls||{buckets:[]}).buckets.map(b=>({control:b.key,count:b.doc_count})),\n    compliance_nist_total: aggs.compliance_nist.doc_count,\n    compliance_nist_controls: (aggs.compliance_nist.controls||{buckets:[]}).buckets.map(b=>({control:b.key,count:b.doc_count})),\n    compliance_tsc_total: aggs.compliance_tsc.doc_count,\n    compliance_tsc_controls: (aggs.compliance_tsc.controls||{buckets:[]}).buckets.map(b=>({control:b.key,count:b.doc_count})),\n    // Top source IPs (merge windows + linux)\n    top_srcips: (()=>{const m=new Map();(aggs.top_srcip||{buckets:[]}).buckets.forEach(b=>m.set(b.key,(m.get(b.key)||0)+b.doc_count));(aggs.top_srcip_linux||{buckets:[]}).buckets.forEach(b=>m.set(b.key,(m.get(b.key)||0)+b.doc_count));return Array.from(m.entries()).map(([ip,count])=>({ip,count})).sort((a,b)=>b.count-a.count).filter(x=>x.ip!=='127.0.0.1'&&!x.ip.startsWith('::1')).slice(0,10)})(),\n    // Incident alerts (level 12+)\n    incidents: ((aggs.incidents.by_rule||{buckets:[]}).buckets.map(b=>{const h=b.latest.hits.hits[0]._source;return {level:Math.round(b.max_level.value),description:(b.rule_desc.buckets[0]||{key:h.rule.description}).key,rule_id:b.key,count:b.doc_count,agents:b.agents.buckets.map(a=>a.key).join(', '),srcip:h.data?(h.data.srcip||((h.data.win||{}).eventdata||{}).ipAddress||'N/A'):'N/A',last_seen:new Date(h.timestamp).toLocaleString('en-IN',{timeZone:'Asia/Kolkata',hour12:false})}})),\n    incident_count: aggs.incidents.doc_count,\n    // Weekly daily trend data\n    daily_trend: (aggs.alerts_over_time||{buckets:[]}).buckets.map(b=>({day:b.key_as_string,total:b.doc_count,low:(b.by_level.buckets.find(x=>x.key==='low')||{doc_count:0}).doc_count,medium:(b.by_level.buckets.find(x=>x.key==='medium')||{doc_count:0}).doc_count,high:(b.by_level.buckets.find(x=>x.key==='high')||{doc_count:0}).doc_count,critical:(b.by_level.buckets.find(x=>x.key==='critical')||{doc_count:0}).doc_count})),\n    auth_fail_daily: (aggs.auth_fail_daily||{buckets:[]}).buckets.map(b=>({day:b.key_as_string,count:b.count.doc_count})),\n    fim_daily: (aggs.fim_daily||{buckets:[]}).buckets.map(b=>({day:b.key_as_string,count:b.count.doc_count})),\n    peak_day: (()=>{const b=(aggs.alerts_over_time||{buckets:[]}).buckets;if(!b.length)return 'N/A';const max=b.reduce((a,c)=>c.doc_count>a.doc_count?c:a,b[0]);return max.key_as_string+' ('+max.doc_count.toLocaleString()+' alerts)';})(),\n  prev_week_total: prevWeekTotal,\n  prev_week_severity: (()=>{ const s={Critical:0,High:0,Medium:0,Low:0}; prevWeekLevels.forEach(b=>{ if(b.key>=15)s.Critical+=b.doc_count; else if(b.key>=12)s.High+=b.doc_count; else if(b.key>=7)s.Medium+=b.doc_count; else s.Low+=b.doc_count; }); return s; })(),\n  recommendations: (()=>{\n    const recs = [];\n    if(severityCounts.Critical>0) recs.push({icon:'!!',color:'#BD271E',text:''+severityCounts.Critical+' critical alerts detected. Investigate immediately and validate if these are true positives.'});\n    if(severityCounts.High>50) recs.push({icon:'!',color:'#E7664C',text:'High volume of high-severity alerts ('+severityCounts.High.toLocaleString()+'). Review alert rules and tune false positives.'});\n    const authFail = aggs.auth_fail.doc_count;\n    if(authFail>100) recs.push({icon:'X',color:'#e74c3c',text:''+authFail.toLocaleString()+' authentication failures detected. Review failed login sources and consider IP blocking or account lockout policies.'});\n    const vulnTotal = aggs.vuln.doc_count;\n    if(vulnTotal>0) recs.push({icon:'V',color:'#e67e22',text:''+vulnTotal.toLocaleString()+' vulnerability alerts. Prioritize patching critical and high severity CVEs on affected agents.'});\n    const scaFailed = ((aggs.sca.by_result||{buckets:[]}).buckets.find(b=>b.key==='failed')||{doc_count:0}).doc_count;\n    if(scaFailed>0) recs.push({icon:'C',color:'#9b59b6',text:''+scaFailed+' SCA compliance checks failed. Review and remediate to improve security posture.'});\n    if(topAgents.length>0 && topAgents[0].count > totalHits*0.3) recs.push({icon:'A',color:'#3498db',text:'Agent '+topAgents[0].name+' generates '+((topAgents[0].count/totalHits)*100).toFixed(0)+'% of all alerts. Investigate if misconfigured or under attack.'});\n    if(recs.length===0) recs.push({icon:'OK',color:'#2ecc71',text:'No critical recommendations. Continue monitoring and maintain current security posture.'});\n    return recs;\n  })(),\n  agent_risk: topAgents.map(a=>{\n    const total = a.count||1;\n    const critPct = (a.critical/total)*100;\n    const highPct = (a.high/total)*100;\n    const medPct = (a.medium/total)*100;\n    const score = Math.min(100, Math.round(critPct*4 + highPct*2 + medPct*0.3));\n    let risk,note;\n    if(a.critical>0){risk='Critical';note=a.critical+' critical alerts - investigate immediately';}\n    else if(a.high>10){risk='High';note=a.high+' high severity alerts - review required';}\n    else if(score>=30){risk='Medium';note='Elevated alert volume - monitor closely';}\n    else {risk='Low';note='Normal activity - routine monitoring';}\n    return { name:a.name, count:a.count, critical:a.critical, high:a.high, medium:a.medium, low:a.low, score:score, risk:risk, note:note };\n  }).sort((a,b)=>b.score-a.score),\n  from_date: fromDate, to_date: toDate, ist_date: istDate, ist_time: istTime\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        100
      ],
      "id": "process-data",
      "name": "Process Data"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst sc = d.severity_counts;\n\n// Wazuh official severity colors\nconst sevDef = [\n  { key:'Critical', color:'#BD271E', range:'Level 15+' },\n  { key:'High', color:'#E7664C', range:'Level 12-14' },\n  { key:'Medium', color:'#D6BF57', range:'Level 7-11' },\n  { key:'Low', color:'#6DCCB1', range:'Level 0-6' }\n];\n\n// SVG Donut\nfunction svgDonut(data, w, h, r, r2) {\n  const cx=w/2, cy=h/2;\n  const total = data.reduce((s,x)=>s+x.value,0)||1;\n  let cum=-90; const paths=data.filter(x=>x.value>0).map(x=>{\n    const pct=x.value/total, ang=pct*360;\n    const s=cum*Math.PI/180, e=(cum+ang)*Math.PI/180; cum+=ang;\n    const la=ang>180?1:0;\n    const x1=cx+r*Math.cos(s),y1=cy+r*Math.sin(s);\n    const x2=cx+r*Math.cos(e),y2=cy+r*Math.sin(e);\n    const x3=cx+r2*Math.cos(e),y3=cy+r2*Math.sin(e);\n    const x4=cx+r2*Math.cos(s),y4=cy+r2*Math.sin(s);\n    return `<path d=\"M${x1},${y1} A${r},${r} 0 ${la},1 ${x2},${y2} L${x3},${y3} A${r2},${r2} 0 ${la},0 ${x4},${y4}Z\" fill=\"${x.color}\"/>`;\n  }).join('');\n  return `<svg width=\"${w}\" height=\"${h}\" viewBox=\"0 0 ${w} ${h}\">${paths}<text x=\"${cx}\" y=\"${cy-6}\" text-anchor=\"middle\" font-size=\"18\" font-weight=\"800\" fill=\"#2c3e50\">${total.toLocaleString()}</text><text x=\"${cx}\" y=\"${cy+10}\" text-anchor=\"middle\" font-size=\"9\" fill=\"#95a5a6\">Total Alerts</text></svg>`;\n}\n\n// SVG Vertical bars\nfunction svgVBars(items, w, h) {\n  const pad={t:15,b:40,l:5,r:5};\n  const cW=w-pad.l-pad.r, cH=h-pad.t-pad.b;\n  const max=Math.max(...items.map(i=>i.value),1);\n  const bW=Math.min(Math.floor(cW/items.length)-2,22);\n  const gap=(cW-bW*items.length)/(items.length+1);\n  let s='';\n  items.forEach((it,i)=>{\n    const bH=Math.max((it.value/max)*cH,2);\n    const x=pad.l+gap+(bW+gap)*i, y=pad.t+cH-bH;\n    s+=`<rect x=\"${x}\" y=\"${y}\" width=\"${bW}\" height=\"${bH}\" fill=\"${it.color||'#3498db'}\" rx=\"2\"/>`;\n    s+=`<text x=\"${x+bW/2}\" y=\"${pad.t+cH+12}\" text-anchor=\"middle\" font-size=\"5.5\" fill=\"#7f8c8d\" transform=\"rotate(50,${x+bW/2},${pad.t+cH+12})\">${it.label}</text>`;\n    s+=`<text x=\"${x+bW/2}\" y=\"${y-4}\" text-anchor=\"middle\" font-size=\"5.5\" fill=\"#555\">${it.value>=1000000?(it.value/1000000).toFixed(1)+'M':it.value>=1000?(it.value/1000).toFixed(0)+'k':it.value}</text>`;\n  });\n  s+=`<line x1=\"${pad.l}\" y1=\"${pad.t+cH}\" x2=\"${w-pad.r}\" y2=\"${pad.t+cH}\" stroke=\"#ecf0f1\" stroke-width=\"1\"/>`;\n  return `<svg width=\"${w}\" height=\"${h}\" viewBox=\"0 0 ${w} ${h}\">${s}</svg>`;\n}\n\n// SVG Horizontal bars\nfunction svgHBars(items, w, h) {\n  const pad={t:5,b:5,l:110,r:55};\n  const cW=w-pad.l-pad.r;\n  const bH=Math.min(Math.floor((h-pad.t-pad.b)/items.length)-3,16);\n  const max=Math.max(...items.map(i=>i.value),1);\n  let s='';\n  items.forEach((it,i)=>{\n    const bw=Math.max((it.value/max)*cW,3);\n    const y=pad.t+(bH+3)*i;\n    s+=`<text x=\"${pad.l-5}\" y=\"${y+bH/2+3}\" text-anchor=\"end\" font-size=\"7\" fill=\"#2c3e50\">${it.label.length>16?it.label.substring(0,16)+'..':it.label}</text>`;\n    s+=`<rect x=\"${pad.l}\" y=\"${y}\" width=\"${bw}\" height=\"${bH}\" fill=\"${it.color||'#3498db'}\" rx=\"3\"/>`;\n    s+=`<text x=\"${pad.l+bw+4}\" y=\"${y+bH/2+3}\" font-size=\"7\" font-weight=\"700\" fill=\"#2c3e50\">${it.value.toLocaleString()}</text>`;\n  });\n  return `<svg width=\"${w}\" height=\"${h}\" viewBox=\"0 0 ${w} ${h}\">${s}</svg>`;\n}\n\nconst palette = ['#2ecc71','#3498db','#9b59b6','#e67e22','#1abc9c','#e74c3c','#f39c12','#2980b9','#8e44ad','#16a085','#e91e63','#00bcd4','#8bc34a','#ff5722','#607d8b'];\n\n// Build charts\nconst donutSvg = svgDonut(sevDef.map(s=>({value:sc[s.key],color:s.color})), 180, 180, 70, 45);\nconst donutLegend = sevDef.map(s=>`<div style=\"display:flex;align-items:center;margin:4px 0\"><div style=\"width:14px;height:14px;border-radius:3px;background:${s.color};margin-right:8px\"></div><div><div style=\"font-size:10px;font-weight:700\">${s.key}</div><div style=\"font-size:8px;color:#95a5a6\">${s.range}: ${sc[s.key].toLocaleString()}</div></div></div>`).join('');\n\nconst timelineSvg = svgVBars(d.timeline.map(t=>({value:t.count,label:t.hour,color:'#3498db'})), 500, 150);\nconst agentSvg = svgHBars(d.top_agents.map((a,i)=>({value:a.count,label:a.name,color:palette[i%15]})), 500, Math.max(d.top_agents.length*19+10,80));\nconst techSvg = svgHBars(d.mitre_techniques.map((m,i)=>({value:m.count,label:m.technique,color:palette[i%15]})), 500, Math.max(d.mitre_techniques.length*19+10,80));\nconst tacticSvg = svgHBars(d.mitre_tactics.map((m,i)=>({value:m.count,label:m.tactic,color:palette[i%15]})), 500, Math.max(d.mitre_tactics.length*19+10,80));\n\n// Severity stat cards (matching Wazuh dashboard style)\nconst statCards = sevDef.map(s=>{\n  const txtColor = s.key==='Critical'?'#BD271E':s.key==='High'?'#E7664C':s.key==='Medium'?'#D6BF57':'#6DCCB1';\n  return `<div style=\"flex:1;text-align:center;padding:14px 6px;border-radius:8px;border:1px solid #ecf0f1;background:#fafbfc\"><div style=\"font-size:10px;font-weight:600;color:#69707D;margin-bottom:6px\">${s.key} severity</div><div style=\"font-size:26px;font-weight:800;color:${txtColor}\">${sc[s.key].toLocaleString()}</div><div style=\"font-size:8px;color:#98A2B3;margin-top:3px\">${s.range}</div></div>`;\n}).join('');\n\n// Alerts table sorted by level desc\nconst sortedRules = [...d.top_rules].sort((a,b)=>b.level-a.level||b.count-a.count);\nconst perPage = 40;\nconst makeRow = (r,i,offset) => {\n  const sn = offset+i+1;\n  const lc = r.level>=15?'#BD271E':r.level>=12?'#E7664C':r.level>=7?'#D6BF57':'#6DCCB1';\n  const bg = i%2===0?'#fff':'#f8f9fb';\n  return `<tr style=\"background:${bg};border-left:3px solid ${lc}\"><td style=\"padding:3px 6px;border-bottom:1px solid #ecf0f1;text-align:center;font-weight:600;color:#95a5a6;font-size:7px\">${sn}</td><td style=\"padding:3px 6px;border-bottom:1px solid #ecf0f1;text-align:center;font-weight:700;color:#2c3e50;font-size:8px\">${r.rule_id}</td><td style=\"padding:3px 6px;border-bottom:1px solid #ecf0f1;font-size:7.5px;color:#34495e\">${r.description.length>90?r.description.substring(0,90)+'...':r.description}</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;text-align:center\"><span style=\"background:${lc};color:#fff;padding:2px 8px;border-radius:10px;font-size:7px;font-weight:700\">${r.level}</span></td><td style=\"padding:3px 6px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;color:#2c3e50;font-size:8px\">${r.count.toLocaleString()}</td></tr>`;\n};\nconst ruleRowsPage1 = sortedRules.slice(0,perPage).map((r,i)=>makeRow(r,i,0)).join('');\nconst ruleRowsPage2 = sortedRules.slice(perPage,perPage*2).map((r,i)=>makeRow(r,i,perPage)).join('');\n\nconst logoImg = d.client_logo ? `<img src=\"${d.client_logo}\" style=\"height:60px;display:block\" onerror=\"this.style.display='none'\"/>` : '';\n// No logo in footer - only on cover page\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>Weekly Security Threat Analysis Report</title>\n<style>\n@page{size:A4 portrait;margin:0}\n*{margin:0;padding:0;box-sizing:border-box}\nbody{font-family:'Segoe UI',Arial,sans-serif;font-size:9px;color:#2c3e50;background:#fff}\n.page{page-break-after:always;width:210mm;min-height:297mm;padding:20px 24px 40px;position:relative}\n.page:last-child{page-break-after:auto}\n.card{background:#fff;border-radius:10px;box-shadow:0 1px 6px rgba(0,0,0,0.05);padding:14px;margin-bottom:12px;border:1px solid #ecf0f1}\n.stitle{font-size:12px;font-weight:700;color:#2c3e50;margin:0 0 10px;padding:6px 0;border-bottom:2px solid #3498db;display:flex;align-items:center}\n.stitle .dot{width:8px;height:8px;border-radius:50%;background:#3498db;margin-right:8px;flex-shrink:0}\n.hdr{background:linear-gradient(135deg,#1a1a2e,#16213e,#0f3460);color:#fff;padding:12px 20px;border-radius:8px;margin-bottom:14px}\n.hdr h2{font-size:15px;font-weight:700;margin-bottom:2px}\n.hdr p{font-size:8px;opacity:0.8}\nbody{counter-reset:page}\n.page{counter-increment:page}\n.page-num::after{content:counter(page)}\n.footer{position:fixed;bottom:8px;left:24px;right:24px;text-align:center;font-size:7px;color:#bdc3c7;border-top:1px solid #ecf0f1;padding-top:4px}\ntable{width:100%;border-collapse:collapse;font-size:8px}\ntr{page-break-inside:avoid;break-inside:avoid}\ntd{word-wrap:break-word;overflow-wrap:break-word;max-width:300px}\nthead{display:table-header-group}\ntbody{display:table-row-group}\ntr{page-break-inside:avoid;break-inside:avoid}\n@media print{tr{page-break-inside:avoid}thead{display:table-header-group}}\nthead th{background:linear-gradient(135deg,#1a1a2e,#16213e);color:#fff;padding:6px 8px;text-align:left;font-size:7.5px;text-transform:uppercase;letter-spacing:0.5px}\n</style></head><body>\n\n<!-- COVER PAGE -->\n<div class=\\\"page\\\" style=\\\"padding:0;overflow:hidden;position:relative;background:#1B2A4A\\\">\n  <!-- Large geometric accent -->\n  <div style=\\\"position:absolute;top:-100px;right:-100px;width:450px;height:450px;border-radius:50%;background:linear-gradient(135deg,#0D7377,#14919B);opacity:0.15\\\"></div>\n  <div style=\\\"position:absolute;bottom:-150px;left:-100px;width:400px;height:400px;border-radius:50%;background:linear-gradient(135deg,#14919B,#0D7377);opacity:0.1\\\"></div>\n  <!-- Top accent -->\n  <div style=\\\"height:5px;background:linear-gradient(90deg,#0D7377,#14919B,#32DBC6)\\\"></div>\n\n  <div style=\\\"position:relative;z-index:1;padding:60px 50px 40px\\\">\n    <!-- Logo -->\n    ${logoImg ? '<div style=\\\"margin-bottom:40px;display:inline-flex;align-items:center;justify-content:center;background:#fff;padding:16px;border-radius:8px;box-shadow:0 2px 8px rgba(0,0,0,0.15)\\\">' + logoImg.replace('height:60px','height:40px') + '</div>' : ''}\n\n    <!-- Title block -->\n    <div style=\\\"margin-bottom:50px\\\">\n      <div style=\\\"font-size:14px;color:#14919B;text-transform:uppercase;letter-spacing:4px;font-weight:600;margin-bottom:14px\\\">Security Report</div>\n      <h1 style=\\\"font-size:48px;font-weight:800;color:#fff;line-height:1.05;margin-bottom:0\\\">Weekly Security Threat</h1>\n      <h1 style=\\\"font-size:48px;font-weight:800;color:#14919B;line-height:1.05;margin-bottom:16px\\\">Analysis Report</h1>\n      <div style=\\\"width:50px;height:4px;background:#14919B;border-radius:2px\\\"></div>\n    </div>\n\n    <!-- Subtitle -->\n    <p style=\\\"font-size:13px;color:rgba(255,255,255,0.45);letter-spacing:1px;margin-bottom:40px\\\">Weekly Security Threat Analysis &bull; Last 7 Days</p>\n\n    <!-- Info grid -->\n    <div style=\\\"display:flex;gap:0;margin-bottom:40px;background:rgba(0,0,0,0.2);border-radius:8px;overflow:hidden\\\">\n      <div style=\\\"flex:1;padding:18px 22px;border-left:3px solid #14919B\\\">\n        <div style=\\\"font-size:8px;text-transform:uppercase;letter-spacing:2px;color:rgba(255,255,255,0.4);margin-bottom:8px\\\">Prepared For</div>\n        <div style=\\\"font-size:15px;font-weight:700;color:#fff;margin-bottom:4px\\\">${d.client_name}</div>\n        <div style=\\\"font-size:10px;color:rgba(255,255,255,0.5);line-height:1.4\\\">${d.client_address}</div>\n      </div>\n      <div style=\\\"flex:1;padding:18px 22px;border-left:1px solid rgba(255,255,255,0.08)\\\">\n        <div style=\\\"font-size:8px;text-transform:uppercase;letter-spacing:2px;color:rgba(255,255,255,0.4);margin-bottom:8px\\\">Period</div>\n        <div style=\\\"font-size:11px;font-weight:600;color:#fff;margin-bottom:4px\\\">${d.from_date}</div>\n        <div style=\\\"font-size:11px;font-weight:600;color:#fff\\\">${d.to_date}</div>\n      </div>\n      <div style=\\\"flex:1;padding:18px 22px;border-left:1px solid rgba(255,255,255,0.08)\\\">\n        <div style=\\\"font-size:8px;text-transform:uppercase;letter-spacing:2px;color:rgba(255,255,255,0.4);margin-bottom:8px\\\">Generated</div>\n        <div style=\\\"font-size:11px;font-weight:600;color:#fff;margin-bottom:4px\\\">${d.ist_date}</div>\n        <div style=\\\"font-size:11px;color:rgba(255,255,255,0.5)\\\">${d.ist_time} IST</div>\n      </div>\n    </div>\n  </div>\n\n\n</div>\n\n<!-- PAGE 2: Table of Contents -->\n<div class=\"page\">\n  <div class=\"hdr\"><h2>Table of Contents</h2><p>Report sections overview</p></div>\n  <div style=\"padding:10px 20px\">\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\"><span style=\"font-weight:700;color:#1a1a2e\">1. Executive Summary</span><span style=\"color:#95a5a6\">Severity overview, week-over-week, timeline</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\"><span style=\"font-weight:700;color:#1a1a2e\">2. Top Threat Alerts</span><span style=\"color:#95a5a6\">Critical & high severity events</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">3. Agents & Risk Assessment</span>':'<span style=\"font-weight:700;color:#1a1a2e\">2. Agents & Risk Assessment</span>'}<span style=\"color:#95a5a6\">Agent risk scores, actionable items</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">4. Authentication Events</span>':'<span style=\"font-weight:700;color:#1a1a2e\">3. Authentication Events</span>'}<span style=\"color:#95a5a6\">Login failures, successes, source IPs</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">5. Top Source IPs</span>':'<span style=\"font-weight:700;color:#1a1a2e\">4. Top Source IPs</span>'}<span style=\"color:#95a5a6\">Most active IP addresses</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">6. Vulnerability Detection</span>':'<span style=\"font-weight:700;color:#1a1a2e\">5. Vulnerability Detection</span>'}<span style=\"color:#95a5a6\">CVEs, affected agents, packages</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">7. File Integrity Monitoring</span>':'<span style=\"font-weight:700;color:#1a1a2e\">6. File Integrity Monitoring</span>'}<span style=\"color:#95a5a6\">File changes, modified paths</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">8. MITRE ATT&amp;CK Analysis</span>':'<span style=\"font-weight:700;color:#1a1a2e\">7. MITRE ATT&amp;CK Analysis</span>'}<span style=\"color:#95a5a6\">Techniques, tactics mapping</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">9. Regulatory Compliance</span>':'<span style=\"font-weight:700;color:#1a1a2e\">8. Regulatory Compliance</span>'}<span style=\"color:#95a5a6\">PCI-DSS, HIPAA, GDPR, NIST 800-53</span></div>\n    <div style=\"border-bottom:1px dashed #ecf0f1;padding:10px 0;display:flex;justify-content:space-between;font-size:11px\">${d.incident_count>0?'<span style=\"font-weight:700;color:#1a1a2e\">10. Security Events Summary</span>':'<span style=\"font-weight:700;color:#1a1a2e\">9. Security Events Summary</span>'}<span style=\"color:#95a5a6\">All rules sorted by severity</span></div>\n  </div>\n</div>\n<!-- PAGE 3: Executive Summary -->\n<div class=\"page\">\n  <div class=\"hdr\"><h2>Executive Summary</h2><p>Last 7 days alert overview</p></div>\n  <div class=\"card\" style=\"background:#f8f9fb;border-left:4px solid #3498db;margin-bottom:14px\">\n    <div style=\"font-size:9px;line-height:1.6;color:#34495e\">\n      During the reporting period <strong>${d.from_date}</strong> to <strong>${d.to_date}</strong>, a total of <strong>${d.total_alerts.toLocaleString()}</strong> security alerts were recorded across all monitored endpoints. Of these, <strong style=\"color:#BD271E\">${sc.Critical.toLocaleString()} critical</strong> and <strong style=\"color:#E7664C\">${sc.High.toLocaleString()} high</strong> severity alerts (level 12+: ${d.level12_count.toLocaleString()}) require immediate attention. There were <strong style=\"color:#e74c3c\">${d.auth_fail_count.toLocaleString()} authentication failures</strong> and <strong style=\"color:#2ecc71\">${d.auth_success_count.toLocaleString()} successful logons</strong> detected. ${d.vuln_total > 0 ? 'Vulnerability detection identified <strong>' + d.vuln_total.toLocaleString() + ' vulnerability events</strong> across monitored agents.' : 'No vulnerability events were detected in this period.'} The top generating agent was <strong>${d.top_agents[0]?.name || 'N/A'}</strong> with ${d.top_agents[0]?.count.toLocaleString() || '0'} alerts. MITRE ATT&amp;CK mapping shows <strong>${d.mitre_techniques.length} techniques</strong> across <strong>${d.mitre_tactics.length} tactics</strong>.\n    </div>\n  </div>\n  <div class=\"card\" style=\"margin-bottom:14px;padding:10px 16px\">\n    <div class=\"stitle\" style=\"margin-bottom:8px\"><span class=\"dot\" style=\"background:#9b59b6\"></span>Week-over-Week Comparison <span style=\"font-size:8px;font-weight:400;color:#95a5a6;margin-left:6px\">(Previous Week vs Current Week)</span></div>\n    <div style=\"display:flex;gap:10px;font-size:9px\">${['Critical','High','Medium','Low'].map(k=>{ const today=sc[k]; const prev=d.prev_week_severity[k]; const diff=today-prev; const pct=prev>0?((diff/prev)*100).toFixed(1):'N/A'; const arrow=diff>0?'\\u25B2':diff<0?'\\u25BC':'\\u25CF'; const color=diff>0?'#e74c3c':diff<0?'#2ecc71':'#95a5a6'; return '<div style=\"flex:1;text-align:center;padding:8px;border-radius:6px;background:#fafbfc;border:1px solid #ecf0f1\"><div style=\"font-size:8px;color:#69707D;margin-bottom:3px\">'+k+'</div><div style=\"font-size:12px;font-weight:700;color:'+color+'\">'+arrow+' '+(pct==='N/A'?'N/A':pct+'%')+'</div><div style=\"font-size:7px;color:#95a5a6;margin-top:2px\">'+prev.toLocaleString()+' &rarr; '+today.toLocaleString()+'</div></div>'; }).join('')}<div style=\"flex:1;text-align:center;padding:8px;border-radius:6px;background:#fafbfc;border:1px solid #ecf0f1\"><div style=\"font-size:8px;color:#69707D;margin-bottom:3px\">Total</div><div style=\"font-size:12px;font-weight:700;color:${d.total_alerts>d.prev_week_total?'#e74c3c':d.total_alerts<d.prev_week_total?'#2ecc71':'#95a5a6'}\">${d.total_alerts>d.prev_week_total?'\\u25B2':d.total_alerts<d.prev_week_total?'\\u25BC':'\\u25CF'} ${d.prev_week_total>0?((d.total_alerts-d.prev_week_total)/d.prev_week_total*100).toFixed(1):'N/A'}%</div><div style=\"font-size:7px;color:#95a5a6;margin-top:2px\">${d.prev_week_total.toLocaleString()} &rarr; ${d.total_alerts.toLocaleString()}</div></div></div>\n  </div>\n  <div style=\"display:flex;gap:8px;margin-bottom:14px\">${statCards}</div>\n  <div class=\"card\">\n    <div class=\"stitle\"><span class=\"dot\"></span>Severity Distribution</div>\n    <div style=\"display:flex;align-items:center;justify-content:center;gap:24px\">\n      ${donutSvg}\n      <div>${donutLegend}</div>\n    </div>\n  </div>\n  <div class=\"card\">\n    <div class=\"stitle\"><span class=\"dot\"></span>Alerts Timeline (7 Days)</div>\n    <div style=\"text-align:center\">${timelineSvg}</div>\n  </div>\n\n\n  <div class=\"card\">\n    <div class=\"stitle\"><span class=\"dot\" style=\"background:#3498db\"></span>Daily Alert Trend (7 Days)</div>\n    <div style=\"text-align:center\">\n      ${(()=>{\n        const data=d.daily_trend||[];\n        if(!data.length) return '<div style=\"color:#95a5a6;font-size:9px;padding:20px\">No trend data</div>';\n        const max=Math.max(...data.map(x=>x.total),1);\n        const w=480,h=160,barW=Math.floor((w-40)/data.length)-4,pad=20;\n        let svg='<svg width=\"'+w+'\" height=\"'+(h+30)+'\" style=\"font-family:Inter,sans-serif\">';\n        // Grid lines\n        for(let i=0;i<=4;i++){const y=pad+((h-pad*2)*i/4);svg+='<line x1=\"35\" y1=\"'+y+'\" x2=\"'+(w-5)+'\" y2=\"'+y+'\" stroke=\"#ecf0f1\" stroke-width=\"0.5\"/><text x=\"30\" y=\"'+(y+3)+'\" text-anchor=\"end\" font-size=\"7\" fill=\"#95a5a6\">'+Math.round(max*(1-i/4))+'</text>';}\n        // Bars (stacked: critical, high, medium, low)\n        data.forEach((d2,i)=>{\n          const x=40+i*(barW+4);\n          const totalH=Math.round((d2.total/max)*(h-pad*2));\n          const critH=Math.round((d2.critical/max)*(h-pad*2));\n          const highH=Math.round((d2.high/max)*(h-pad*2));\n          const medH=Math.round((d2.medium/max)*(h-pad*2));\n          const lowH=totalH-critH-highH-medH;\n          let y=h-pad;\n          if(lowH>0){svg+='<rect x=\"'+x+'\" y=\"'+(y-lowH)+'\" width=\"'+barW+'\" height=\"'+lowH+'\" fill=\"#3498db\" rx=\"1\"/>';y-=lowH;}\n          if(medH>0){svg+='<rect x=\"'+x+'\" y=\"'+(y-medH)+'\" width=\"'+barW+'\" height=\"'+medH+'\" fill=\"#f39c12\" rx=\"1\"/>';y-=medH;}\n          if(highH>0){svg+='<rect x=\"'+x+'\" y=\"'+(y-highH)+'\" width=\"'+barW+'\" height=\"'+highH+'\" fill=\"#E7664C\" rx=\"1\"/>';y-=highH;}\n          if(critH>0){svg+='<rect x=\"'+x+'\" y=\"'+(y-critH)+'\" width=\"'+barW+'\" height=\"'+critH+'\" fill=\"#BD271E\" rx=\"1\"/>';}\n          // Day label\n          svg+='<text x=\"'+(x+barW/2)+'\" y=\"'+(h-pad+12)+'\" text-anchor=\"middle\" font-size=\"7\" fill=\"#69707D\">'+d2.day+'</text>';\n          // Total on top\n          svg+='<text x=\"'+(x+barW/2)+'\" y=\"'+(h-pad-totalH-3)+'\" text-anchor=\"middle\" font-size=\"6\" fill=\"#69707D\" font-weight=\"600\">'+d2.total+'</text>';\n        });\n        // Legend\n        svg+='<rect x=\"40\" y=\"'+(h+14)+'\" width=\"8\" height=\"8\" fill=\"#BD271E\" rx=\"1\"/><text x=\"52\" y=\"'+(h+21)+'\" font-size=\"7\" fill=\"#69707D\">Critical</text>';\n        svg+='<rect x=\"100\" y=\"'+(h+14)+'\" width=\"8\" height=\"8\" fill=\"#E7664C\" rx=\"1\"/><text x=\"112\" y=\"'+(h+21)+'\" font-size=\"7\" fill=\"#69707D\">High</text>';\n        svg+='<rect x=\"145\" y=\"'+(h+14)+'\" width=\"8\" height=\"8\" fill=\"#f39c12\" rx=\"1\"/><text x=\"157\" y=\"'+(h+21)+'\" font-size=\"7\" fill=\"#69707D\">Medium</text>';\n        svg+='<rect x=\"200\" y=\"'+(h+14)+'\" width=\"8\" height=\"8\" fill=\"#3498db\" rx=\"1\"/><text x=\"212\" y=\"'+(h+21)+'\" font-size=\"7\" fill=\"#69707D\">Low</text>';\n        svg+='</svg>';\n        return svg;\n      })()}\n    </div>\n    <div style=\"text-align:center;font-size:8px;color:#69707D;margin-top:4px\">Peak Day: <strong>${d.peak_day}</strong></div>\n  </div>\n</div>\n\n\n\n<!-- PAGE: Top Threat Alerts -->\n<div class=\"page\">\n  <div class=\"hdr\" style=\"background:linear-gradient(135deg,#BD271E,#920000)\"><h2 style=\"color:#fff\">Top Threat Alerts</h2><p style=\"color:rgba(255,255,255,0.8)\">${d.incident_count>0?d.incident_count+' critical/high severity events in last 7 days':'No high severity threats detected in last 7 days'}</p></div>\n  ${d.incident_count>0?'<div style=\"background:#fdf2f2;border:2px solid #BD271E;border-radius:8px;padding:14px;margin-bottom:14px\"><div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px\"><div style=\"width:28px;height:28px;background:#BD271E;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:14px;color:#fff;font-weight:800\">!</div><div style=\"font-size:12px;font-weight:700;color:#BD271E\">HIGH SEVERITY THREATS DETECTED</div></div><div style=\"font-size:9px;color:#69707D\">The following events have severity level 12 or above and may indicate active threats, successful attacks, or critical system changes.</div></div><table><thead><tr><th style=\"width:35px\">Level</th><th>Description</th><th style=\"width:50px;text-align:center\">Count</th><th style=\"width:120px\">Affected Agents</th><th style=\"width:100px\">Last Seen (IST)</th></tr></thead><tbody>'+d.incidents.map((inc,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;text-align:center\"><span style=\"background:'+(inc.level>=15?'#BD271E':'#E7664C')+';color:#fff;padding:2px 6px;border-radius:4px;font-size:8px;font-weight:700\">'+inc.level+'</span></td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;font-size:8px\">'+inc.description+'</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;text-align:center;font-size:9px;font-weight:700;color:#BD271E\">'+inc.count.toLocaleString()+'</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;font-size:8px\">'+inc.agents+'</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;font-size:7px\">'+inc.last_seen+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;padding:60px 20px\"><div style=\"width:64px;height:64px;background:#f0fdf4;border-radius:50%;display:inline-flex;align-items:center;justify-content:center;margin-bottom:16px\"><svg width=\"32\" height=\"32\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#2ecc71\" stroke-width=\"2\"><path d=\"M22 11.08V12a10 10 0 1 1-5.93-9.14\"/><polyline points=\"22 4 12 14.01 9 11.01\"/></svg></div><div style=\"font-size:16px;font-weight:700;color:#1a1a2e;margin-bottom:6px\">No Top Threats Found</div><div style=\"font-size:10px;color:#69707D;max-width:400px;margin:0 auto\">No alerts with severity level 12 or above were detected during the reporting period. This indicates no critical or high-severity security events occurred.</div></div>'}\n</div>\n\n\n<!-- PAGE: Agents &amp; Risk Assessment -->\n<div class=\\\"page\\\">\n  <div class=\\\"hdr\\\"><h2>Agents &amp; Risk Assessment</h2><p>Agent overview, severity breakdown, risk scoring and recommendations</p></div>\n  <div class=\\\"card\\\">\n    <div class=\\\"stitle\\\"><span class=\\\"dot\\\" style=\\\"background:#2ecc71\\\"></span>Top ${d.top_agents.length} Agents (Alert Volume)</div>\n    <div style=\\\"text-align:center\\\">${agentSvg}</div>\n  </div>\n  <div class=\\\"card\\\"><div class=\\\"stitle\\\"><span class=\\\"dot\\\" style=\\\"background:#e74c3c\\\"></span>Agent Risk Scores</div>\n    <table><thead><tr><th>Agent</th><th style=\\\"text-align:center\\\">Total</th><th style=\\\"text-align:center;color:#BD271E\\\">Crit</th><th style=\\\"text-align:center;color:#E7664C\\\">High</th><th style=\\\"text-align:center;color:#D6BF57\\\">Med</th><th style=\\\"text-align:center\\\">Score</th><th style=\\\"text-align:center\\\">Risk</th><th>Action</th></tr></thead><tbody>${d.agent_risk.map((a,i)=>{ const rc=a.risk==='Critical'?'#BD271E':a.risk==='High'?'#E7664C':a.risk==='Medium'?'#D6BF57':'#6DCCB1'; return '<tr style=\\\"background:'+(i%2===0?'#fff':'#f8f9fb')+';border-left:3px solid '+rc+'\\\">'+ '<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;font-size:8px;font-weight:600\\\">'+a.name+'</td>'+'<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;text-align:center;font-size:8px\\\">'+a.count.toLocaleString()+'</td>'+'<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;text-align:center;font-size:8px;font-weight:700;color:#BD271E\\\">'+(a.critical||'-')+'</td>'+'<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;text-align:center;font-size:8px;font-weight:700;color:#E7664C\\\">'+(a.high||'-')+'</td>'+'<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;text-align:center;font-size:8px;color:#D6BF57\\\">'+(a.medium>0?a.medium.toLocaleString():'-')+'</td>'+'<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;text-align:center\\\"><div style=\\\"background:#ecf0f1;border-radius:8px;height:12px;overflow:hidden;width:50px;display:inline-block\\\"><div style=\\\"background:'+rc+';height:100%;width:'+a.score+'%;border-radius:8px\\\"></div></div><span style=\\\"font-size:7px;font-weight:700;color:'+rc+';margin-left:3px\\\">'+a.score+'</span></td>'+'<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;text-align:center\\\"><span style=\\\"background:'+rc+';color:#fff;padding:1px 6px;border-radius:8px;font-size:6.5px;font-weight:700\\\">'+a.risk+'</span></td>'+'<td style=\\\"padding:4px 6px;border-bottom:1px solid #ecf0f1;font-size:7px;color:#69707D;font-style:italic\\\">'+a.note+'</td></tr>'; }).join('')}</tbody></table>\n  </div>\n  <div class=\\\"card\\\"><div class=\\\"stitle\\\"><span class=\\\"dot\\\" style=\\\"background:#f39c12\\\"></span>Recommendations</div>\n    ${d.recommendations.map(r=>'<div style=\\\"display:flex;align-items:flex-start;margin-bottom:8px;padding:8px 12px;border-radius:6px;background:#fafbfc;border-left:3px solid '+r.color+'\\\">'+ '<div style=\\\"width:24px;height:24px;border-radius:50%;background:'+r.color+';color:#fff;display:flex;align-items:center;justify-content:center;font-size:9px;font-weight:700;flex-shrink:0;margin-right:10px\\\">'+r.icon+'</div>'+'<div style=\\\"font-size:9px;line-height:1.5;color:#34495e\\\">'+r.text+'</div></div>').join('')}\n  </div>\n</div>\n\n<!-- PAGE 5: Authentication + Vulnerability -->\n<div class=\"page\">\n  <div class=\"hdr\"><h2>Authentication Events</h2><p>Login success and failure analysis in last 7 days</p></div>\n  <div style=\"display:flex;gap:10px;margin-bottom:14px\">\n    <div style=\"flex:1;text-align:center;padding:16px;border-radius:8px;background:#fdf2f2;border:1px solid #f5c6cb\"><div style=\"font-size:28px;font-weight:800;color:#e74c3c\">${d.auth_fail_count.toLocaleString()}</div><div style=\"font-size:9px;color:#69707D;margin-top:4px\">Authentication Failures</div></div>\n    <div style=\"flex:1;text-align:center;padding:16px;border-radius:8px;background:#f0fdf4;border:1px solid #a3cfbb\"><div style=\"font-size:28px;font-weight:800;color:#2ecc71\">${d.auth_success_count.toLocaleString()}</div><div style=\"font-size:9px;color:#69707D;margin-top:4px\">Successful Logons</div></div>\n    <div style=\"flex:1;text-align:center;padding:16px;border-radius:8px;background:#f0f4ff;border:1px solid #b3c6ff\"><div style=\"font-size:28px;font-weight:800;color:#3498db\">${(d.auth_fail_count+d.auth_success_count).toLocaleString()}</div><div style=\"font-size:9px;color:#69707D;margin-top:4px\">Total Auth Events</div></div>\n  </div>\n  <div style=\"display:flex;gap:12px;margin-bottom:12px\">\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#e74c3c\"></span>Top Failed Login Users</div>${d.auth_fail_users.length>0?'<table><thead><tr><th>User</th><th style=\"text-align:right;padding-right:10px\">Failures</th></tr></thead><tbody>'+d.auth_fail_users.map((u,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:8px\">'+u.user+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px;color:#e74c3c\">'+u.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No failed login data</div>'}</div>\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#e67e22\"></span>Top Source IPs (Failed)</div>${d.auth_fail_ips.length>0?'<table><thead><tr><th>IP Address</th><th style=\"text-align:right;padding-right:10px\">Attempts</th></tr></thead><tbody>'+d.auth_fail_ips.map((u,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace\">'+u.ip+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px;color:#e67e22\">'+u.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No source IP data</div>'}</div>\n  </div>\n  \n  <div class=\"card\">\n    <div class=\"stitle\"><span class=\"dot\" style=\"background:#e74c3c\"></span>Authentication Failures - Daily Trend</div>\n    <div style=\"text-align:center\">\n      ${(()=>{\n        const data=d.auth_fail_daily||[];\n        if(!data.length) return '<div style=\"color:#95a5a6;font-size:9px;padding:12px\">No trend data</div>';\n        const max=Math.max(...data.map(x=>x.count),1);\n        const w=480,h=100,barW=Math.floor((w-40)/data.length)-4,pad=15;\n        let svg='<svg width=\"'+w+'\" height=\"'+(h+15)+'\" style=\"font-family:Inter,sans-serif\">';\n        data.forEach((d2,i)=>{\n          const x=40+i*(barW+4);\n          const barH=Math.round((d2.count/max)*(h-pad*2));\n          svg+='<rect x=\"'+x+'\" y=\"'+(h-pad-barH)+'\" width=\"'+barW+'\" height=\"'+barH+'\" fill=\"#e74c3c\" rx=\"2\" opacity=\"0.85\"/>';\n          svg+='<text x=\"'+(x+barW/2)+'\" y=\"'+(h-pad+12)+'\" text-anchor=\"middle\" font-size=\"7\" fill=\"#69707D\">'+d2.day+'</text>';\n          svg+='<text x=\"'+(x+barW/2)+'\" y=\"'+(h-pad-barH-3)+'\" text-anchor=\"middle\" font-size=\"6\" fill=\"#69707D\" font-weight=\"600\">'+d2.count+'</text>';\n        });\n        svg+='</svg>';\n        return svg;\n      })()}\n    </div>\n  </div>\n  <div class=\"card\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#2ecc71\"></span>Successful Logon Users</div>${d.auth_success_users.length>0?'<table><thead><tr><th>User</th><th style=\"text-align:right;padding-right:10px\">Logons</th></tr></thead><tbody>'+d.auth_success_users.map((u,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:8px\">'+u.user+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px;color:#2ecc71\">'+u.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No successful logon data</div>'}</div>\n  <div style=\"display:flex;gap:12px;margin-bottom:12px\">\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#e74c3c\"></span>Top Failed Login Events</div>${d.auth_fail_events.length>0?'<table><thead><tr><th>Rule Description</th><th style=\"text-align:right;padding-right:10px\">Count</th></tr></thead><tbody>'+d.auth_fail_events.map((e,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:7.5px\">'+e.desc+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px;color:#e74c3c\">'+e.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No failed login events</div>'}</div>\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#2ecc71\"></span>Top Success Login Events</div>${d.auth_success_events.length>0?'<table><thead><tr><th>Rule Description</th><th style=\"text-align:right;padding-right:10px\">Count</th></tr></thead><tbody>'+d.auth_success_events.map((e,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:7.5px\">'+e.desc+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px;color:#2ecc71\">'+e.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No success login events</div>'}</div>\n  </div>\n</div>\n\n\n<!-- PAGE: Top Source IPs -->\n<div class=\"page\">\n  <div class=\"hdr\"><h2>Top Source IPs</h2><p>Most active source IP addresses in last 7 days</p></div>\n  ${d.top_srcips.length>0?'<table><thead><tr><th style=\"width:30px\">#</th><th>IP Address</th><th style=\"text-align:right;width:80px\">Events</th><th style=\"width:200px\">Activity</th></tr></thead><tbody>'+d.top_srcips.map((ip,i)=>{const maxCount=d.top_srcips[0].count;const pct=Math.round((ip.count/maxCount)*100);const isPrivate=ip.ip.startsWith('192.168.')||ip.ip.startsWith('10.')||ip.ip.startsWith('172.')||ip.ip.startsWith('fe80');const barColor=isPrivate?'#3498db':'#e74c3c';return '<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;text-align:center;font-weight:700;color:#95a5a6\">'+(i+1)+'</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;font-size:9px;font-family:monospace;font-weight:600\">'+ip.ip+(isPrivate?' <span style=\"background:#e8f4fd;color:#3498db;padding:1px 5px;border-radius:3px;font-size:7px;font-weight:600;font-family:sans-serif\">INTERNAL</span>':' <span style=\"background:#fdf2f2;color:#e74c3c;padding:1px 5px;border-radius:3px;font-size:7px;font-weight:600;font-family:sans-serif\">EXTERNAL</span>')+'</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:9px\">'+ip.count.toLocaleString()+'</td><td style=\"padding:5px 8px;border-bottom:1px solid #ecf0f1\"><div style=\"background:#ecf0f1;border-radius:4px;height:14px;overflow:hidden\"><div style=\"background:'+barColor+';height:100%;width:'+pct+'%;border-radius:4px;min-width:2px\"></div></div></td></tr>';}).join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No source IP data in this period</div>'}\n  <div style=\"margin-top:10px;display:flex;gap:16px;font-size:8px;color:#69707D\">\n    <div><span style=\"display:inline-block;width:10px;height:10px;background:#3498db;border-radius:2px;vertical-align:middle;margin-right:4px\"></span>Internal Network</div>\n    <div><span style=\"display:inline-block;width:10px;height:10px;background:#e74c3c;border-radius:2px;vertical-align:middle;margin-right:4px\"></span>External / Public IP</div>\n  </div>\n</div>\n<!-- PAGE 6: Vulnerability Details -->\n<div class=\"page\">\n  <div class=\"hdr\"><h2>Vulnerability Detection</h2><p>New vulnerability alerts in last 7 days (rule.groups: vulnerability-detector)</p></div>\n  ${d.vuln_total > 0 ? '<div style=\"display:flex;gap:8px;margin-bottom:14px\">' + d.vuln_by_sev.filter(v=>v.severity!=='-'&&v.severity!=='').map(v=>{ const vc=v.severity==='Critical'?'#BD271E':v.severity==='High'?'#E7664C':v.severity==='Medium'?'#D6BF57':'#6DCCB1'; return '<div style=\"flex:1;text-align:center;padding:12px;border-radius:8px;border:1px solid #ecf0f1;background:#fafbfc\"><div style=\"font-size:22px;font-weight:800;color:'+vc+'\">'+v.count.toLocaleString()+'</div><div style=\"font-size:9px;color:#69707D;margin-top:3px\">'+v.severity+'</div></div>'; }).join('') + '</div>' : ''}\n  <div style=\"display:flex;gap:12px;margin-bottom:12px\">\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#e74c3c\"></span>Top CVEs</div>${d.vuln_top_cve.length>0?'<table><thead><tr><th>CVE ID</th><th style=\"text-align:right;padding-right:10px\">Count</th></tr></thead><tbody>'+d.vuln_top_cve.map((c,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace;color:#e74c3c\">'+c.cve+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+c.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No CVE data in this period</div>'}</div>\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#3498db\"></span>Affected Agents</div>${d.vuln_top_agent.length>0?'<table><thead><tr><th>Agent</th><th style=\"text-align:right;padding-right:10px\">Vulns</th></tr></thead><tbody>'+d.vuln_top_agent.map((a,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:8px\">'+a.agent+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+a.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No agent data</div>'}</div>\n  </div>\n  <div class=\"card\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#9b59b6\"></span>Affected Packages</div>${d.vuln_top_pkg.length>0?'<table><thead><tr><th>Package</th><th style=\"text-align:right;padding-right:10px\">Count</th></tr></thead><tbody>'+d.vuln_top_pkg.map((p,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace\">'+p.pkg+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+p.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No package data in this period</div>'}</div>\n</div>\n\n<!-- PAGE: File Integrity Monitoring -->\n<div class=\"page\">\n  <div class=\"hdr\"><h2>File Integrity Monitoring</h2><p>File changes detected in last 7 days (rule.groups: syscheck)</p></div>\n  <div style=\"display:flex;gap:10px;margin-bottom:14px\">\n    <div style=\"flex:1;text-align:center;padding:16px;border-radius:8px;background:#f0f4ff;border:1px solid #b3c6ff\"><div style=\"font-size:28px;font-weight:800;color:#3498db\">${d.fim_total.toLocaleString()}</div><div style=\"font-size:9px;color:#69707D;margin-top:4px\">Total FIM Events</div></div>\n    ${d.fim_events.map(e=>{ const ec=e.event==='deleted'?'#e74c3c':e.event==='added'?'#2ecc71':e.event==='modified'?'#e67e22':'#3498db'; return '<div style=\"flex:1;text-align:center;padding:16px;border-radius:8px;border:1px solid #ecf0f1;background:#fafbfc\"><div style=\"font-size:28px;font-weight:800;color:'+ec+'\">'+e.count.toLocaleString()+'</div><div style=\"font-size:9px;color:#69707D;margin-top:4px\">'+e.event.charAt(0).toUpperCase()+e.event.slice(1)+'</div></div>'; }).join('')}\n  </div>\n  <div class=\"card\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#9b59b6\"></span>File Changes - Daily Trend</div><div style=\"text-align:center\">${(()=>{const data=d.fim_daily||[];if(!data.length)return '<div style=\"color:#95a5a6;font-size:9px;padding:12px\">No trend data</div>';const max=Math.max(...data.map(x=>x.count),1);const w=480,h=100,barW=Math.floor((w-40)/data.length)-4,pad=15;let svg='<svg width=\"'+w+'\" height=\"'+(h+15)+'\" style=\"font-family:Inter,sans-serif\">';data.forEach((d2,i)=>{const x=40+i*(barW+4);const barH=Math.round((d2.count/max)*(h-pad*2));svg+='<rect x=\"'+x+'\" y=\"'+(h-pad-barH)+'\" width=\"'+barW+'\" height=\"'+barH+'\" fill=\"#9b59b6\" rx=\"2\" opacity=\"0.85\"/>';svg+='<text x=\"'+(x+barW/2)+'\" y=\"'+(h-pad+12)+'\" text-anchor=\"middle\" font-size=\"7\" fill=\"#69707D\">'+d2.day+'</text>';svg+='<text x=\"'+(x+barW/2)+'\" y=\"'+(h-pad-barH-3)+'\" text-anchor=\"middle\" font-size=\"6\" fill=\"#69707D\" font-weight=\"600\">'+d2.count+'</text>';});svg+='</svg>';return svg;})()}</div></div>\n  <div style=\"display:flex;gap:12px;margin-bottom:12px\">\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#3498db\"></span>Top Agents (FIM)</div>${d.fim_agents.length>0?'<table><thead><tr><th>Agent</th><th style=\"text-align:right;padding-right:10px\">Changes</th></tr></thead><tbody>'+d.fim_agents.map((a,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:8px\">'+a.agent+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+a.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No FIM data</div>'}</div>\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#e67e22\"></span>Top Modified Paths</div>${d.fim_paths.length>0?'<table><thead><tr><th>File Path</th><th style=\"text-align:right;padding-right:10px\">Count</th></tr></thead><tbody>'+d.fim_paths.map((p,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;font-size:7px;font-family:monospace\">'+p.path+'</td><td style=\"padding:4px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+p.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:20px\">No FIM data</div>'}</div>\n  </div>\n</div>\n\n<!-- PAGE: MITRE ATT&CK Analysis -->\n<div class=\\\"page\\\">\n  <div class=\\\"hdr\\\"><h2>MITRE ATT&amp;CK Analysis</h2><p>Techniques and tactics detected in last 7 days</p></div>\n  <div class=\\\"card\\\">\n    <div class=\\\"stitle\\\"><span class=\\\"dot\\\" style=\\\"background:#e74c3c\\\"></span>Top Techniques</div>\n    <div style=\\\"text-align:center\\\">${techSvg}</div>\n  </div>\n  <div class=\\\"card\\\">\n    <div class=\\\"stitle\\\"><span class=\\\"dot\\\" style=\\\"background:#e67e22\\\"></span>Top Tactics</div>\n    <div style=\\\"text-align:center\\\">${tacticSvg}</div>\n  </div>\n</div>\n\n\n<!-- PAGE: Regulatory Compliance -->\n<div class=\"page\">\n  <div class=\"hdr\"><h2>Regulatory Compliance Mapping</h2><p>Alerts mapped to compliance frameworks in last 7 days</p></div>\n  <div style=\"display:flex;gap:8px;margin-bottom:14px;flex-wrap:wrap\">\n    <div style=\"flex:1;min-width:100px;text-align:center;padding:12px;border-radius:8px;background:#f0f4ff;border:1px solid #b3c6ff\"><div style=\"font-size:22px;font-weight:800;color:#3498db\">${d.compliance_pci_total.toLocaleString()}</div><div style=\"font-size:8px;color:#69707D;margin-top:3px;font-weight:600\">PCI-DSS</div></div>\n    <div style=\"flex:1;min-width:100px;text-align:center;padding:12px;border-radius:8px;background:#f0fdf4;border:1px solid #a3cfbb\"><div style=\"font-size:22px;font-weight:800;color:#2ecc71\">${d.compliance_hipaa_total.toLocaleString()}</div><div style=\"font-size:8px;color:#69707D;margin-top:3px;font-weight:600\">HIPAA</div></div>\n    <div style=\"flex:1;min-width:100px;text-align:center;padding:12px;border-radius:8px;background:#fef9f0;border:1px solid #f5d6a3\"><div style=\"font-size:22px;font-weight:800;color:#e67e22\">${d.compliance_gdpr_total.toLocaleString()}</div><div style=\"font-size:8px;color:#69707D;margin-top:3px;font-weight:600\">GDPR</div></div>\n    <div style=\"flex:1;min-width:100px;text-align:center;padding:12px;border-radius:8px;background:#fdf2f2;border:1px solid #f5c6cb\"><div style=\"font-size:22px;font-weight:800;color:#9b59b6\">${d.compliance_nist_total.toLocaleString()}</div><div style=\"font-size:8px;color:#69707D;margin-top:3px;font-weight:600\">NIST 800-53</div></div>\n    <div style=\"flex:1;min-width:100px;text-align:center;padding:12px;border-radius:8px;background:#f5f0ff;border:1px solid #d5c6f5\"><div style=\"font-size:22px;font-weight:800;color:#8e44ad\">${d.compliance_tsc_total.toLocaleString()}</div><div style=\"font-size:8px;color:#69707D;margin-top:3px;font-weight:600\">TSC</div></div>\n  </div>\n  <div style=\"display:flex;gap:10px;margin-bottom:10px\">\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#3498db\"></span>PCI-DSS Controls</div>${d.compliance_pci_controls.length>0?'<table><thead><tr><th>Control</th><th style=\"text-align:right\">Alerts</th></tr></thead><tbody>'+d.compliance_pci_controls.map((c,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace\">'+c.control+'</td><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+c.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:12px\">No PCI-DSS data</div>'}</div>\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#2ecc71\"></span>HIPAA Controls</div>${d.compliance_hipaa_controls.length>0?'<table><thead><tr><th>Control</th><th style=\"text-align:right\">Alerts</th></tr></thead><tbody>'+d.compliance_hipaa_controls.map((c,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace\">'+c.control+'</td><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+c.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:12px\">No HIPAA data</div>'}</div>\n  </div>\n  <div style=\"display:flex;gap:10px;margin-bottom:10px\">\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#e67e22\"></span>GDPR Articles</div>${d.compliance_gdpr_controls.length>0?'<table><thead><tr><th>Article</th><th style=\"text-align:right\">Alerts</th></tr></thead><tbody>'+d.compliance_gdpr_controls.map((c,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace\">'+c.control+'</td><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+c.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:12px\">No GDPR data</div>'}</div>\n    <div class=\"card\" style=\"flex:1\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#9b59b6\"></span>NIST 800-53 Controls</div>${d.compliance_nist_controls.length>0?'<table><thead><tr><th>Control</th><th style=\"text-align:right\">Alerts</th></tr></thead><tbody>'+d.compliance_nist_controls.map((c,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace\">'+c.control+'</td><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+c.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table>':'<div style=\"text-align:center;color:#95a5a6;font-size:9px;padding:12px\">No NIST data</div>'}</div>\n  ${d.compliance_tsc_controls.length>0?'<div class=\"card\"><div class=\"stitle\"><span class=\"dot\" style=\"background:#8e44ad\"></span>TSC (Trust Services Criteria)</div><table><thead><tr><th>Criteria</th><th style=\"text-align:right\">Alerts</th></tr></thead><tbody>'+d.compliance_tsc_controls.map((c,i)=>'<tr style=\"background:'+(i%2===0?'#fff':'#f8f9fb')+'\"><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;font-size:8px;font-family:monospace\">'+c.control+'</td><td style=\"padding:3px 8px;border-bottom:1px solid #ecf0f1;text-align:right;font-weight:700;font-size:8px\">'+c.count.toLocaleString()+'</td></tr>').join('')+'</tbody></table></div>':''}\n</div>\n<!-- PAGE: Security Events Summary -->\n<div style=\"page-break-before:always\" class=\"page\">\n  <div class=\"hdr\"><h2>Security Events Summary</h2><p>All rules sorted by severity (Critical &rarr; Low) &bull; ${sortedRules.length} unique rules</p></div>\n  <div class=\"card\" style=\"padding:0;overflow:hidden\">\n    <table>\n      <thead><tr><th style=\"width:25px;text-align:center\">#</th><th style=\"width:50px;text-align:center\">Rule ID</th><th>Description</th><th style=\"width:42px;text-align:center\">Level</th><th style=\"width:65px;text-align:right;padding-right:10px\">Count</th></tr></thead>\n      <tbody>${ruleRowsPage1}</tbody>\n    </table>\n  </div>\n</div>\n<!-- PAGE: Security Events Summary Page 2 -->\n${ruleRowsPage2?`\n<div style=\"page-break-before:always\" class=\"page\">\n  <div class=\"card\" style=\"padding:0;overflow:hidden\">\n    <table>\n      <thead><tr><th style=\"width:25px;text-align:center\">#</th><th style=\"width:50px;text-align:center\">Rule ID</th><th>Description</th><th style=\"width:42px;text-align:center\">Level</th><th style=\"width:65px;text-align:right;padding-right:10px\">Count</th></tr></thead>\n      <tbody>${ruleRowsPage2}</tbody>\n    </table>\n  </div>\n</div>\n`:''}\n\n<div class=\"footer\" style=\"display:flex;justify-content:space-between;padding:4px 20px;font-size:7px;color:#95a5a6\">\n  <span>Confidential</span><span></span>\n</div>\n`;\n\nreturn [{json:{html_report: html}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ],
      "id": "html-gen",
      "name": "Generate Report HTML"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nreturn [{\n  json: input,\n  binary: {\n    data: {\n      data: Buffer.from(input.html_report, 'utf8'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        100
      ],
      "id": "html-to-binary",
      "name": "HTML to Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "preferCssPageSize",
              "value": "true"
            },
            {
              "name": "landscape",
              "value": "false"
            },
            {
              "name": "marginTop",
              "value": "0"
            },
            {
              "name": "marginBottom",
              "value": "0.6"
            },
            {
              "name": "marginLeft",
              "value": "0"
            },
            {
              "name": "marginRight",
              "value": "0"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.69"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "security_report.pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        100
      ],
      "id": "gotenberg-pdf",
      "name": "Convert to PDF"
    },
    {
      "parameters": {
        "fromEmail": "siemalertmail@gmail.com",
        "toEmail": "={{ $('Process Data').first().json.report_email }}",
        "subject": "={{ $('Process Data').first().json.client_name }} - Wazuh SIEM Weekly Report - {{ $('Process Data').first().json.ist_date }}",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#1a1a2e;border-bottom:2px solid #3498db;padding-bottom:10px\">Threat Hunting Report - Daily Summary</h2>\n  <div style=\"background:#f8f9fa;padding:15px;border-radius:5px;margin:20px 0\">\n    <h3 style=\"margin-top:0;color:#333\">Report Summary</h3>\n    <ul style=\"list-style:none;padding:0\">\n      <li style=\"margin:8px 0\"><strong>Client:</strong> {{ $('Process Data').first().json.client_name }}</li>\n      <li style=\"margin:8px 0\"><strong>Total Alerts:</strong> {{ $('Process Data').first().json.total_alerts }}</li>\n      <li style=\"margin:8px 0\"><strong>Report Date:</strong> {{ $('Process Data').first().json.ist_date }}</li>\n      <li style=\"margin:8px 0\"><strong>Time Period:</strong> Last 24 hours</li>\n      <li style=\"margin:8px 0\"><strong>Critical:</strong> {{ $('Process Data').first().json.severity_counts.Critical }} | <strong>High:</strong> {{ $('Process Data').first().json.severity_counts.High }} | <strong>Medium:</strong> {{ $('Process Data').first().json.severity_counts.Medium }} | <strong>Low:</strong> {{ $('Process Data').first().json.severity_counts.Low }}</li>\n    </ul>\n  </div>\n  <p>Please find attached the detailed threat hunting report.</p>\n  <div style=\"background:#fff3cd;border:1px solid #ffeaa7;padding:10px;border-radius:5px;margin:15px 0\">\n    <p style=\"margin:0;font-size:14px;color:#856404\">Automatically generated from Wazuh SIEM.</p>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false,
          "attachments": "security_report.pdf"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1750,
        100
      ],
      "id": "send-email",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "tO6oKKz2a85ejEh4",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "When clicking Execute workflow": {
      "main": [
        [
          {
            "node": "Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Config": {
      "main": [
        [
          {
            "node": "OpenSearch Aggregations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenSearch Aggregations": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Generate Report HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report HTML": {
      "main": [
        [
          {
            "node": "HTML to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Binary": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}