wazuh-n8n-multinode/n8n/Report Engine - PDF + Excel Combined Email.json
{
  "name": "Report Engine - PDF + Excel Combined Email",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2032,
        16
      ],
      "id": "22eb36c6-d1b7-4fab-aefc-5c4372550060"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        2112,
        176
      ],
      "id": "68be9e18-886a-4d21-a260-5202ebccf932"
    },
    {
      "parameters": {
        "jsCode": "const REPORT_ENGINE_URL = 'http://172.17.0.1:8447';\nconst TEMPLATE_ID = '9dda0668';\nconst PERIOD = '24h';\nconst REPORT_EMAIL = 'naveen@codesecure.in,ashok@rbsgo.com';\nconst CLIENT_NAME = 'RBS Wincloud';\nconst CLIENT_ADDRESS = 'Chennai, Tamil Nadu, India';\nconst LOGO_URL = 'https://cdn.prod.website-files.com/6210a0e751d645c57ce164b3/6878c4f9468bd8eb1d3bcbc7_WinCloud%20Logo%20Original%20light%20background_4.svg';\nconst today = new Date().toLocaleDateString('en-IN');\n\nreturn [{\n  json: {\n    report_engine_url: REPORT_ENGINE_URL,\n    template_id: TEMPLATE_ID,\n    period: PERIOD,\n    report_email: REPORT_EMAIL,\n    email_subject: 'Wazuh Daily Security Alert Report  - ' + today,\n    client_name: CLIENT_NAME,\n    client_address: CLIENT_ADDRESS,\n    logo_url: LOGO_URL\n  }\n}];"
      },
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2368,
        112
      ],
      "id": "7e9f8f09-2e9f-407e-aaed-5f9984159649"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/generate/v2/{{$json.template_id}}?period={{$json.period}}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        0
      ],
      "id": "87777584-121b-4ef3-9ffe-efd2229bcdc3"
    },
    {
      "parameters": {
        "url": "={{$('Config').item.json.report_engine_url}}{{$json.download_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2880,
        0
      ],
      "id": "6ccfe389-110c-461e-9ce9-a8b40addaf01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/export/security?period={{$json.period}}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Start Excel Export",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        224
      ],
      "id": "93dcb276-078a-44e0-86cf-89af72b14416"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "name": "Wait Excel",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2880,
        224
      ],
      "id": "c6a5e337-b9fe-4c41-8c95-9e68188ac20c",
      "webhookId": "66392196-f552-4e43-98f4-82596ba141c5"
    },
    {
      "parameters": {
        "url": "={{$('Config').item.json.report_engine_url}}/api/jobs/{{$('Start Excel Export').item.json.job_id}}/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3136,
        224
      ],
      "id": "3417125d-60a5-416e-b710-0b88255d73a8"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge PDF + Excel",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3392,
        112
      ],
      "id": "b007b7a4-e19a-4e86-bde4-8784bc201a7b"
    },
    {
      "parameters": {
        "jsCode": "// Get PDF and Excel from their specific download nodes\nconst pdfBinary = $('Download PDF').first().binary;\nconst excelBinary = $('Download Excel').first().binary;\n\nreturn [{\n  json: {},\n  binary: {\n    data: pdfBinary.data,\n    data1: excelBinary.data\n  }\n}];"
      },
      "name": "Combine Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        112
      ],
      "id": "514a3667-ec9a-43d3-b067-1815af3b39db"
    },
    {
      "parameters": {
        "fromEmail": "wazuh@winhms.com",
        "toEmail": "={{$('Config').item.json.report_email}}",
        "subject": "={{$('Config').item.json.email_subject}}",
        "text": "=Hi,\n\nPlease find attached the Daily Security Report for {{$('Config').item.json.client_name}}.\n\nAttachments:\n1. PDF Report - Visual security analysis\n2. Excel Report - Raw security events data\n\nReport Period: {{$('Config').item.json.period}}\nGenerated: {{new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'})}}\n\nThis is an automated report from Codesecure Report Engine.\n\nRegards,\nCodesecure Solutions",
        "attachments": "data,data1",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3904,
        112
      ],
      "id": "3edc53db-5373-45df-977a-55c68d3cf093",
      "credentials": {
        "smtp": {
          "id": "tO6oKKz2a85ejEh4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        2112,
        528
      ],
      "id": "a21ae38e-022c-4646-b2f7-859457e7a242"
    },
    {
      "parameters": {
        "jsCode": "const REPORT_ENGINE_URL = 'http://172.17.0.1:8447';\nconst TEMPLATE_ID = '713b33d1';\nconst PERIOD = '7d';\nconst REPORT_EMAIL = 'naveen@codesecure.in,ashok@rbsgo.com';\nconst CLIENT_NAME = 'RBS Wincloud';\nconst CLIENT_ADDRESS = 'Chennai, Tamil Nadu, India';\nconst LOGO_URL = 'https://codesecure.in/images/codesec-logo1.png';\nconst today = new Date().toLocaleDateString('en-IN');\n\nreturn [{\n  json: {\n    report_engine_url: REPORT_ENGINE_URL,\n    template_id: TEMPLATE_ID,\n    period: PERIOD,\n    report_email: REPORT_EMAIL,\n    email_subject: 'Wazuh Weekly Security Alert Report - ' + today,\n    client_name: CLIENT_NAME,\n    client_address: CLIENT_ADDRESS,\n    logo_url: LOGO_URL\n  }\n}];"
      },
      "name": "Config Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2368,
        528
      ],
      "id": "89a69cc8-dd07-4480-a8a1-4c44c7cbb0e0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/generate/v2/{{$json.template_id}}?period={{$json.period}}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Generate PDF Weekly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        416
      ],
      "id": "0092c01e-552f-4a4e-ae67-242fa3d71603"
    },
    {
      "parameters": {
        "url": "={{$('Config Weekly').item.json.report_engine_url}}{{$json.download_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download PDF Weekly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2880,
        416
      ],
      "id": "3f9216eb-d014-4e19-bda0-efb3e734a5ed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/export/security?period={{$json.period}}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Start Excel Weekly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        640
      ],
      "id": "bd4ffe2a-b086-42c3-bc45-74e6c5dc135e"
    },
    {
      "parameters": {
        "amount": 25,
        "unit": "seconds"
      },
      "name": "Wait Excel Weekly",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2880,
        640
      ],
      "id": "a5b7b3c2-f968-4f71-b605-a0fa4a438f71",
      "webhookId": "7ff218ab-3d47-4e12-8ea0-377c5951aa8c"
    },
    {
      "parameters": {
        "url": "={{$('Config Weekly').item.json.report_engine_url}}/api/jobs/{{$('Start Excel Weekly').item.json.job_id}}/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Excel Weekly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3136,
        640
      ],
      "id": "76fac682-2c64-4961-ad6d-9cb3e2ae8b39"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge Weekly",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3392,
        528
      ],
      "id": "2d2b407c-151e-415d-9a47-0e7509d85574"
    },
    {
      "parameters": {
        "jsCode": "const pdfBinary = $('Download PDF Weekly').first().binary;\nconst excelBinary = $('Download Excel Weekly').first().binary;\n\nreturn [{\n  json: {},\n  binary: {\n    data: pdfBinary.data,\n    data1: excelBinary.data\n  }\n}];"
      },
      "name": "Combine Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        528
      ],
      "id": "949eb6f4-12de-4e1b-83ca-db4cb6527791"
    },
    {
      "parameters": {
        "fromEmail": "wazuh@winhms.com",
        "toEmail": "={{$('Config Weekly').item.json.report_email}}",
        "subject": "={{$('Config Weekly').item.json.email_subject}}",
        "text": "=Hi,\n\nPlease find attached the Weekly Security Report for {{$('Config Weekly').item.json.client_name}}.\n\nAttachments:\n1. PDF Report - Visual security analysis\n2. Excel Report - Raw security events data\n\nReport Period: Last 7 Days\nGenerated: {{new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'})}}\n\nThis is an automated report from Codesecure Report Engine.\n\nRegards,\nCodesecure Solutions",
        "attachments": "data,data1",
        "options": {}
      },
      "name": "Send Email Weekly",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3904,
        528
      ],
      "id": "cf6124c4-3c2c-44b7-9a09-154046fc5774",
      "credentials": {
        "smtp": {
          "id": "tO6oKKz2a85ejEh4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "name": "Monthly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        2112,
        944
      ],
      "id": "f14f600e-1029-4ae2-ba7b-f2d5a5e17d18"
    },
    {
      "parameters": {
        "jsCode": "const REPORT_ENGINE_URL = 'http://172.17.0.1:8447';\nconst TEMPLATE_ID = '2ad281f6';\nconst PERIOD = '30d';\nconst REPORT_EMAIL = 'naveen@codesecure.in,ashok@rbsgo.com';\nconst CLIENT_NAME = 'RBS Wincloud';\nconst CLIENT_ADDRESS = 'Chennai, Tamil Nadu, India';\nconst LOGO_URL = 'https://codesecure.in/images/codesec-logo1.png';\nconst today = new Date().toLocaleDateString('en-IN');\n\nreturn [{\n  json: {\n    report_engine_url: REPORT_ENGINE_URL,\n    template_id: TEMPLATE_ID,\n    period: PERIOD,\n    report_email: REPORT_EMAIL,\n    email_subject: 'Wazuh Monthly Security Alert Report - ' + today,\n    client_name: CLIENT_NAME,\n    client_address: CLIENT_ADDRESS,\n    logo_url: LOGO_URL\n  }\n}];"
      },
      "name": "Config Monthly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2368,
        944
      ],
      "id": "87072ba3-05d5-41ab-b606-ed39ec617d6d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/generate/v2/{{$json.template_id}}?period={{$json.period}}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Generate PDF Monthly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        832
      ],
      "id": "dd08c2f0-8b6b-4d6f-af0d-7219107b9225"
    },
    {
      "parameters": {
        "url": "={{$('Config Monthly').item.json.report_engine_url}}{{$json.download_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download PDF Monthly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2880,
        832
      ],
      "id": "f7790b33-900b-49de-b7f7-a8206b9a5e79"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/export/security?period={{$json.period}}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Start Excel Monthly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        1056
      ],
      "id": "7e4dd475-8772-4c2e-ad9e-85623c327761"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait Excel Monthly",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2880,
        1056
      ],
      "id": "0bf3da24-4c3b-44e8-b8a4-593a5cc9fc35",
      "webhookId": "942a4dac-ca26-4464-9bca-7adc160dd7c9"
    },
    {
      "parameters": {
        "url": "={{$('Config Monthly').item.json.report_engine_url}}/api/jobs/{{$('Start Excel Monthly').item.json.job_id}}/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Excel Monthly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3136,
        1056
      ],
      "id": "a67b45c3-313c-488c-affe-90b853ba9fd1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge Monthly",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3392,
        944
      ],
      "id": "0159ce40-d75d-4e19-b432-34c07f065ecc"
    },
    {
      "parameters": {
        "jsCode": "const pdfBinary = $('Download PDF Monthly').first().binary;\nconst excelBinary = $('Download Excel Monthly').first().binary;\n\nreturn [{\n  json: {},\n  binary: {\n    data: pdfBinary.data,\n    data1: excelBinary.data\n  }\n}];"
      },
      "name": "Combine Monthly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        944
      ],
      "id": "189b1192-9f67-4a36-9822-c2aeb7fe1dd8"
    },
    {
      "parameters": {
        "fromEmail": "wazuh@winhms.com",
        "toEmail": "={{$('Config Monthly').item.json.report_email}}",
        "subject": "={{$('Config Monthly').item.json.email_subject}}",
        "text": "=Hi,\n\nPlease find attached the Monthly Security Report for {{$('Config Monthly').item.json.client_name}}.\n\nAttachments:\n1. PDF Report - Visual security analysis\n2. Excel Report - Raw security events data\n\nReport Period: Last 30 Days\nGenerated: {{new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'})}}\n\nThis is an automated report from Codesecure Report Engine.\n\nRegards,\nCodesecure Solutions",
        "attachments": "data,data1",
        "options": {}
      },
      "name": "Send Email Monthly",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3904,
        944
      ],
      "id": "99e6316d-c53e-47f6-933a-8e42b7954e42",
      "credentials": {
        "smtp": {
          "id": "tO6oKKz2a85ejEh4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "name": "Inventory Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        2112,
        1360
      ],
      "id": "0b29dae1-14e4-468d-b150-4df045f31696"
    },
    {
      "parameters": {
        "jsCode": "const REPORT_ENGINE_URL = 'http://172.17.0.1:8447';\nconst REPORT_EMAIL = 'naveen@codesecure.in,ashok@rbsgo.com';\nconst CLIENT_NAME = 'RBS Wincloud';\nconst CLIENT_ADDRESS = 'Chennai, Tamil Nadu, India';\nconst LOGO_URL = 'https://codesecure.in/images/codesec-logo1.png';\nconst today = new Date().toLocaleDateString('en-IN');\n\nreturn [{\n  json: {\n    report_engine_url: REPORT_ENGINE_URL,\n    report_email: REPORT_EMAIL,\n    email_subject: 'Wazuh IT Asset Inventory Report - ' + today,\n    client_name: CLIENT_NAME,\n    client_address: CLIENT_ADDRESS,\n    logo_url: LOGO_URL\n  }\n}];"
      },
      "name": "Config Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2368,
        1360
      ],
      "id": "423baf2b-e7a8-48f9-aa05-b93abc0b6c51"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/generate/v2/inventory",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Generate Inventory PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        1248
      ],
      "id": "8734fe8a-6754-4048-b0f5-60ab71b3b179"
    },
    {
      "parameters": {
        "url": "={{$('Config Inventory').item.json.report_engine_url}}{{$json.download_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Inventory PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2880,
        1248
      ],
      "id": "4811261c-7d34-4131-987d-8941217d532f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.report_engine_url}}/api/generate/inventory/excel/async",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Start Inventory Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2624,
        1472
      ],
      "id": "657f97cc-ec70-4c92-97ec-5dbc75307cb1"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "name": "Wait Inventory",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2880,
        1472
      ],
      "id": "89846396-b014-4917-a3db-ba7c361b0ab5",
      "webhookId": "aae3d3d3-7399-4934-87c2-3368fadde68c"
    },
    {
      "parameters": {
        "url": "={{$('Config Inventory').item.json.report_engine_url}}/api/jobs/{{$('Start Inventory Excel').item.json.job_id}}/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Inventory Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3136,
        1472
      ],
      "id": "6d0d4896-f953-418d-9513-57a6e6c46c79"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge Inventory",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3392,
        1360
      ],
      "id": "228d43b1-468f-4cd0-8fe0-b480f16a9cbf"
    },
    {
      "parameters": {
        "jsCode": "const pdfBinary = $('Download Inventory PDF').first().binary;\nconst excelBinary = $('Download Inventory Excel').first().binary;\n\nreturn [{\n  json: {},\n  binary: {\n    data: pdfBinary.data,\n    data1: excelBinary.data\n  }\n}];"
      },
      "name": "Combine Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        1360
      ],
      "id": "fd0ba152-7a98-41fe-b0d8-4f03fa209600"
    },
    {
      "parameters": {
        "fromEmail": "wazuh@winhms.com",
        "toEmail": "={{$('Config Inventory').item.json.report_email}}",
        "subject": "={{$('Config Inventory').item.json.email_subject}}",
        "text": "=Hi,\n\nPlease find attached the IT Asset Inventory Report for {{$('Config Inventory').item.json.client_name}}.\n\nAttachments:\n1. PDF Report - Visual inventory summary\n2. Excel Report - Full asset inventory data\n\nGenerated: {{new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'})}}\n\nThis is an automated report from Codesecure Report Engine.\n\nRegards,\nCodesecure Solutions",
        "attachments": "data,data1",
        "options": {}
      },
      "name": "Send Email Inventory",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3904,
        1360
      ],
      "id": "18672c63-9eaf-450c-a463-485cd0d9ba72",
      "credentials": {
        "smtp": {
          "id": "tO6oKKz2a85ejEh4",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Excel Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Merge PDF + Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Excel Export": {
      "main": [
        [
          {
            "node": "Wait Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Excel": {
      "main": [
        [
          {
            "node": "Download Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel": {
      "main": [
        [
          {
            "node": "Merge PDF + Excel",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF + Excel": {
      "main": [
        [
          {
            "node": "Combine Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Attachments": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Config Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Weekly": {
      "main": [
        [
          {
            "node": "Generate PDF Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Excel Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF Weekly": {
      "main": [
        [
          {
            "node": "Download PDF Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF Weekly": {
      "main": [
        [
          {
            "node": "Merge Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Excel Weekly": {
      "main": [
        [
          {
            "node": "Wait Excel Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Excel Weekly": {
      "main": [
        [
          {
            "node": "Download Excel Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel Weekly": {
      "main": [
        [
          {
            "node": "Merge Weekly",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Weekly": {
      "main": [
        [
          {
            "node": "Combine Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Weekly": {
      "main": [
        [
          {
            "node": "Send Email Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Schedule": {
      "main": [
        [
          {
            "node": "Config Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Monthly": {
      "main": [
        [
          {
            "node": "Generate PDF Monthly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Excel Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF Monthly": {
      "main": [
        [
          {
            "node": "Download PDF Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF Monthly": {
      "main": [
        [
          {
            "node": "Merge Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Excel Monthly": {
      "main": [
        [
          {
            "node": "Wait Excel Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Excel Monthly": {
      "main": [
        [
          {
            "node": "Download Excel Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel Monthly": {
      "main": [
        [
          {
            "node": "Merge Monthly",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Monthly": {
      "main": [
        [
          {
            "node": "Combine Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Monthly": {
      "main": [
        [
          {
            "node": "Send Email Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Schedule": {
      "main": [
        [
          {
            "node": "Config Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Inventory": {
      "main": [
        [
          {
            "node": "Generate Inventory PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Inventory Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Inventory PDF": {
      "main": [
        [
          {
            "node": "Download Inventory PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Inventory PDF": {
      "main": [
        [
          {
            "node": "Merge Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Inventory Excel": {
      "main": [
        [
          {
            "node": "Wait Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Inventory": {
      "main": [
        [
          {
            "node": "Download Inventory Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Inventory Excel": {
      "main": [
        [
          {
            "node": "Merge Inventory",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Inventory": {
      "main": [
        [
          {
            "node": "Combine Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Inventory": {
      "main": [
        [
          {
            "node": "Send Email Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "26433ee7-411d-42bc-9d1f-9bdc33d44375",
  "meta": {
    "instanceId": "75f4fc027711f48fd0000f8bb37b644e62b77085e3e4ded32482028843dc21ca"
  },
  "id": "YzYL7RcLvW26I6ve",
  "tags": []
}