wazuh-n8n-cluster/n8n/1_Wazuh_Email_Alert.json
{
  "name": "1_Wazuh_Email_Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "21219720-0300-4e29-8408-ea4b3a759e96",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        704
      ],
      "id": "e4157a25-420a-467e-bdc9-4e922cd79f9c",
      "name": "Webhook1",
      "webhookId": "21219720-0300-4e29-8408-ea4b3a759e96"
    },
    {
      "parameters": {
        "fromEmail": "siemalertmail@gmail.com",
        "toEmail": "naveen@codesecure.in,bmdoke@pansegroup.com",
        "subject": "Wazuh SIEM Alert ",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        528
      ],
      "id": "f9e7dd01-c058-4117-b3e7-f082952d0385",
      "name": "Send email1",
      "webhookId": "80fbb052-8acf-4fce-bbd6-d248dc9f36c1",
      "credentials": {
        "smtp": {
          "id": "VYmd2c4wAGDOcnZM",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -416,
        768
      ],
      "id": "1153622a-40ee-47d8-885e-fcddc2b1c01a",
      "name": "Redis2",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "e6OLOQ2dqQptV417",
          "name": "Redis account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0316159c-81fc-4441-b90a-7691ed05f201",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        752
      ],
      "id": "cd75e82c-9641-43e1-a724-66ea7a70f08a",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('set_field1').first().json.cache_key }}",
        "value": "sent",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        48,
        736
      ],
      "id": "8f720975-0eee-4249-82c7-8ce0c78eeb73",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "e6OLOQ2dqQptV417",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Debug version - let's see what data we actually have\nconst fullInput = $input.first().json;\n\nconsole.log('Full input structure:', JSON.stringify(fullInput, null, 2));\nconsole.log('Body structure:', JSON.stringify(fullInput.body, null, 2));\n\n// Try different possible paths\nconst possibleData = \n  fullInput.body?._source ||  // Standard Wazuh\n  fullInput.body ||           // Direct body\n  fullInput._source ||        // Alternative path\n  fullInput;                  // Fallback\n\nconsole.log('Selected data:', JSON.stringify(possibleData, null, 2));\n\nreturn { json: possibleData };\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        736
      ],
      "id": "076f3f66-4cca-4f95-91e5-920e4b2e6903",
      "name": "field_map1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19900f0c-f828-4ea3-ad47-6a6ac6012bb9",
              "name": "cache_key",
              "value": "=alert_{{ $json.rule_id }}_{{ $json.agent.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        768
      ],
      "id": "8fc5f3d5-667c-4e96-86ef-2aaece24311f",
      "name": "set_field1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Set alert_text to N/A by default\nif (data.alert_text) {\n  data.alert_text = 'N/A';\n}\n\nlet rows = '';\nlet counter = 0;\n\nfunction flattenAndAddRows(obj, prefix = '') {\n  Object.entries(obj).forEach(([key, value]) => {\n    const fullKey = prefix ? `${prefix}.${key}` : key;\n    \n    if (value && typeof value === 'object' && !Array.isArray(value)) {\n      flattenAndAddRows(value, fullKey);\n    } else {\n      const displayValue = Array.isArray(value) ? value.join(', ') : String(value);\n      \n      const bgColor = counter % 2 === 0 ? '#f8f9fa' : '#ffffff';\n      \n      let rowColor = bgColor;\n      if (fullKey.includes('severity')) rowColor = '#fff3cd';\n      if (fullKey.includes('alert_title')) rowColor = '#f8d7da';\n      if (fullKey.includes('ipAddress')) rowColor = '#d1ecf1';\n      if (fullKey.includes('targetUserName')) rowColor = '#d4edda';\n      \n      rows += `<tr style=\"background-color: ${rowColor};\">\n        <td style=\"padding: 8px; border: 1px solid #dee2e6; font-weight: bold; color: #495057;\">${fullKey}</td>\n        <td style=\"padding: 8px; border: 1px solid #dee2e6;\">${displayValue}</td>\n      </tr>`;\n      counter++;\n    }\n  });\n}\n\nflattenAndAddRows(data);\n\nreturn [{ json: { html: `\n<div style=\"font-family: Arial, sans-serif; max-width: 1200px;\">\n  <h2 style=\"color: #dc3545; margin-bottom: 20px;\">🚨 Wazuh SIEM Security Alert</h2>\n  <table style=\"width: 100%; border-collapse: collapse; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    ${rows}\n  </table>\n</div>` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        560
      ],
      "id": "e3ee72b8-c0f3-4b26-b249-02fe4e318264",
      "name": "table1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('field_map1').first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        736
      ],
      "id": "e164050c-0611-4456-8d34-c9b617feaca3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// Build observables array — only include entries where data is non-empty\nconst observables = [];\n\n// 1. Hostname (agent.name) — always present\nconst hostname = (d.agent && d.agent.name) ? String(d.agent.name).trim() : '';\nif (hostname) {\n  observables.push({\n    dataType: 'hostname',\n    data: hostname,\n    message: 'Affected agent/endpoint',\n    tags: ['wazuh-agent']\n  });\n}\n\n// 2. Source IP — check multiple paths:\n//    - top-level src_ip (set by custom-n8n.py for Linux events)\n//    - all_fields.data.srcip (Linux/network events)\n//    - all_fields.data.win.eventdata.ipAddress (Windows auth events)\nconst srcIp = (\n  d.src_ip ||\n  (d.all_fields && d.all_fields.data && d.all_fields.data.srcip) ||\n  (d.all_fields && d.all_fields.data && d.all_fields.data.win && d.all_fields.data.win.eventdata && d.all_fields.data.win.eventdata.ipAddress) ||\n  ''\n).trim();\nif (srcIp && srcIp !== '0.0.0.0' && srcIp !== '::') {\n  observables.push({\n    dataType: 'ip',\n    data: srcIp,\n    message: 'Source IP from Wazuh alert',\n    tags: ['source-ip']\n  });\n}\n\n// 2b. Destination IP — check top-level dst_ip (also set by custom-n8n.py)\nconst dstIp = (d.dst_ip || '').trim();\nif (dstIp && dstIp !== '0.0.0.0' && dstIp !== '::') {\n  observables.push({\n    dataType: 'ip',\n    data: dstIp,\n    message: 'Destination IP from Wazuh alert',\n    tags: ['dest-ip']\n  });\n}\n\n// 3. Agent IP — skip if empty or 'any'\nconst agentIp = (d.agent && d.agent.ip) ? String(d.agent.ip).trim() : '';\nif (agentIp && agentIp !== 'any' && agentIp !== '0.0.0.0') {\n  observables.push({\n    dataType: 'ip',\n    data: agentIp,\n    message: 'Agent IP address',\n    tags: ['agent-ip']\n  });\n}\n\n// 4. Source user — check top-level src_user, then fall back into all_fields\nconst srcUser = (\n  d.src_user ||\n  (d.all_fields && d.all_fields.data && d.all_fields.data.srcuser) ||\n  (d.all_fields && d.all_fields.data && d.all_fields.data.win && d.all_fields.data.win.eventdata && d.all_fields.data.win.eventdata.targetUserName) ||\n  ''\n).trim();\nif (srcUser) {\n  observables.push({\n    dataType: 'other',\n    data: srcUser,\n    message: 'Source/target username from Wazuh alert',\n    tags: ['username']\n  });\n}\n\n// 5. Agent ID — always present (Wazuh agent identifier)\nconst agentId = (d.agent && d.agent.id) ? String(d.agent.id).trim() : '';\nif (agentId && agentId !== 'N/A') {\n  observables.push({\n    dataType: 'other',\n    data: agentId,\n    message: 'Wazuh agent ID',\n    tags: ['agent-id', 'wazuh-agent']\n  });\n}\n\n// Compute severity level (1-4)\nconst ruleLevel = parseInt(d.rule_level || d.all_fields?.rule?.level || 0);\nconst severity = ruleLevel >= 15 ? 4 : ruleLevel >= 12 ? 3 : ruleLevel >= 7 ? 2 : 1;\n\n// Build tags from rule groups + MITRE technique\nconst ruleTags = Array.isArray(d.all_fields?.rule?.groups) ? d.all_fields.rule.groups : [];\nconst mitreTags = Array.isArray(d.all_fields?.rule?.mitre?.technique) ? d.all_fields.rule.mitre.technique : [];\nconst allTags = [...new Set([...ruleTags, ...mitreTags])];\n\n// Source ref with timestamp (yyyyMMdd_HHmmss)\nconst now = new Date();\nconst ts = now.toISOString().replace(/[-:.TZ]/g, '').slice(0, 15);\nconst sourceRef = `wazuh_${d.rule_id}_${hostname}_${ts}`;\n\n// Flatten all_fields into markdown table rows (Field | Value)\nfunction flattenToMd(obj, prefix) {\n  let rows = '';\n  for (const [k, v] of Object.entries(obj || {})) {\n    const key = prefix ? `${prefix}.${k}` : k;\n    if (v && typeof v === 'object' && !Array.isArray(v)) {\n      rows += flattenToMd(v, key);\n    } else {\n      const val = Array.isArray(v) ? v.join(', ') : String(v ?? '');\n      if (val) rows += `| ${key} | ${val} |\\n`;\n    }\n  }\n  return rows;\n}\n\n// Build description: quick summary + full fields table + raw log\nconst fieldRows = flattenToMd(d.all_fields, '');\nconst description = [\n  `## 🔴 Alert Overview`,\n  `| Field | Value |`,\n  `|---|---|`,\n  `| **Rule ID** | ${d.rule_id} |`,\n  `| **Description** | ${d.all_fields?.rule?.description || 'N/A'} |`,\n  `| **Severity** | Level ${ruleLevel} — ${d.severity_label || 'N/A'} |`,\n  `| **Agent** | ${hostname} (ID: ${agentId || 'N/A'}, IP: ${agentIp || 'N/A'}) |`,\n  `| **Timestamp** | ${d.timestamp} |`,\n  `| **Location** | ${d.location || 'N/A'} |`,\n  `| **Rule Groups** | ${ruleTags.join(', ') || 'N/A'} |`,\n  `| **MITRE Technique** | ${mitreTags.join(', ') || 'N/A'} |`,\n  srcIp ? `| **Source IP** | ${srcIp} |` : '',\n  dstIp ? `| **Dest IP** | ${dstIp} |` : '',\n  srcUser ? `| **Username** | ${srcUser} |` : '',\n  ``,\n  `## 📋 All Alert Fields`,\n  `| Field | Value |`,\n  `|---|---|`,\n  fieldRows,\n  `## 📁 Raw Log`,\n  `\\`\\`\\``,\n  d.alert_text || 'N/A',\n  `\\`\\`\\``,\n].filter(Boolean).join('\\n');\n\n// Build full alert payload\nconst payload = {\n  title: `[${d.severity_label || 'Alert'}] ${d.alert_title || d.rule_id}`,\n  source: d.source || 'wazuh',\n  type: d.event_type || 'alert',\n  description: description,\n  sourceRef: sourceRef,\n  severity: severity,\n  summary: `🔴 Wazuh Alert | Rule ${d.rule_id} | ${d.all_fields?.rule?.description || 'N/A'} | Agent: ${hostname} | Level: ${ruleLevel} - ${d.severity_label || 'N/A'}`,\n  flag: ruleLevel >= 12,\n  tags: allTags,\n  tlp: ruleLevel >= 12 ? 3 : 2,\n  pap: 2,\n  observables: observables\n};\n\nconsole.log(`Built ${observables.length} observable(s) for alert: ${payload.title}`);\n\nreturn [{ json: { _alert_payload: payload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        784
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Build Alert Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://thehive:9000/api/v1/alert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "theHiveProjectApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._alert_payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        784
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-456789012345",
      "name": "Create Alert (TheHive)",
      "credentials": {
        "theHiveProjectApi": {
          "id": "lNFzPeokhx3NP1Nv",
          "name": "The Hive 5 account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0316159c-81fc-4441-b90a-7691ed05f201",
              "leftValue": "={{ $json.all_fields.rule.level }}",
              "rightValue": 12,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        576
      ],
      "id": "78a7f9f3-b78b-4aa2-8d3f-e89facb9d529",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "field_map1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "field_map1": {
      "main": [
        [
          {
            "node": "set_field1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_field1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "table1": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Payload": {
      "main": [
        [
          {
            "node": "Create Alert (TheHive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3aff265g-d587-596c-9172-5d3c789ef622",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2ebe46a2fd80a296ac436b1f9c29895040c59d2e88780d264236c2a31a741e6"
  },
  "id": "ECGFFAjpacc40sHT",
  "tags": []
}
