wazuh-n8n-singlenode/n8n/1_Wazuh_Email_Alert.json
{
  "name": "1_Wazuh_Email_Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "21219720-0300-4e29-8408-ea4b3a759e96",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        704
      ],
      "id": "e4157a25-420a-467e-bdc9-4e922cd79f9c",
      "name": "Webhook1",
      "webhookId": "21219720-0300-4e29-8408-ea4b3a759e96"
    },
    {
      "parameters": {
        "fromEmail": "siemalertmail@gmail.com",
        "toEmail": "naveen@codesecure.in,bmdoke@pansegroup.com",
        "subject": "Wazuh SIEM Alert ",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        528
      ],
      "id": "f9e7dd01-c058-4117-b3e7-f082952d0385",
      "name": "Send email1",
      "webhookId": "80fbb052-8acf-4fce-bbd6-d248dc9f36c1",
      "credentials": {
        "smtp": {
          "id": "VYmd2c4wAGDOcnZM",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -416,
        768
      ],
      "id": "1153622a-40ee-47d8-885e-fcddc2b1c01a",
      "name": "Redis2",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "e6OLOQ2dqQptV417",
          "name": "Redis account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0316159c-81fc-4441-b90a-7691ed05f201",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        752
      ],
      "id": "cd75e82c-9641-43e1-a724-66ea7a70f08a",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('set_field1').first().json.cache_key }}",
        "value": "sent",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        48,
        736
      ],
      "id": "8f720975-0eee-4249-82c7-8ce0c78eeb73",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "e6OLOQ2dqQptV417",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Raw Wazuh alert sent directly from custom-n8n.py (no custom mapping)\n// Extract from webhook body\nconst fullInput = $input.first().json;\nconst alert = fullInput.body || fullInput;\nreturn { json: alert };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        736
      ],
      "id": "076f3f66-4cca-4f95-91e5-920e4b2e6903",
      "name": "field_map1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19900f0c-f828-4ea3-ad47-6a6ac6012bb9",
              "name": "cache_key",
              "value": "=alert_{{ $json.rule.id }}_{{ $json.agent.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        768
      ],
      "id": "8fc5f3d5-667c-4e96-86ef-2aaece24311f",
      "name": "set_field1"
    },
    {
      "parameters": {
        "jsCode": "// Raw Wazuh alert JSON received directly\nconst data = $input.first().json;\n\nlet rows = '';\nlet counter = 0;\n\nfunction flattenAndAddRows(obj, prefix = '') {\n  Object.entries(obj).forEach(([key, value]) => {\n    const fullKey = prefix ? `${prefix}.${key}` : key;\n    if (value && typeof value === 'object' && !Array.isArray(value)) {\n      flattenAndAddRows(value, fullKey);\n    } else {\n      const displayValue = Array.isArray(value) ? value.join(', ') : String(value);\n      const bgColor = counter % 2 === 0 ? '#f8f9fa' : '#ffffff';\n      let rowColor = bgColor;\n      if (fullKey === 'rule.level' || fullKey === 'rule.severity') rowColor = '#fff3cd';\n      if (fullKey === 'rule.description') rowColor = '#f8d7da';\n      if (fullKey.includes('ipAddress') || fullKey === 'data.srcip' || fullKey === 'data.dstip') rowColor = '#d1ecf1';\n      if (fullKey.includes('targetUserName') || fullKey === 'data.srcuser') rowColor = '#d4edda';\n      rows += `<tr style=\"background-color: ${rowColor};\">\n        <td style=\"padding: 8px; border: 1px solid #dee2e6; font-weight: bold; color: #495057;\">${fullKey}</td>\n        <td style=\"padding: 8px; border: 1px solid #dee2e6;\">${displayValue}</td>\n      </tr>`;\n      counter++;\n    }\n  });\n}\n\nflattenAndAddRows(data);\n\nreturn [{ json: { html: `\n<div style=\"font-family: Arial, sans-serif; max-width: 1200px;\">\n  <h2 style=\"color: #dc3545; margin-bottom: 20px;\">🚨 Wazuh SIEM Security Alert</h2>\n  <table style=\"width: 100%; border-collapse: collapse; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    ${rows}\n  </table>\n</div>` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        560
      ],
      "id": "e3ee72b8-c0f3-4b26-b249-02fe4e318264",
      "name": "table1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('field_map1').first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        736
      ],
      "id": "e164050c-0611-4456-8d34-c9b617feaca3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// d is the raw Wazuh alert JSON (sent as-is by custom-n8n.py)\nconst d = $input.first().json;\n\nconst rule    = d.rule    || {};\nconst agent   = d.agent   || {};\nconst data    = d.data    || {};\nconst mitre   = rule.mitre || {};\n\nconst ruleLevel  = parseInt(rule.level || 0);\nconst severity   = ruleLevel >= 15 ? 4 : ruleLevel >= 12 ? 3 : ruleLevel >= 7 ? 2 : 1;\nconst sevLabel   = severity === 4 ? 'Critical' : severity === 3 ? 'High' : severity === 2 ? 'Medium' : 'Low';\nconst ruleTags   = Array.isArray(rule.groups) ? rule.groups : [];\nconst mitreTags  = Array.isArray(mitre.technique) ? mitre.technique : [];\nconst allTags    = [...new Set([...ruleTags, ...mitreTags])];\n\nconst hostname  = (agent.name || '').trim();\nconst agentIp   = (agent.ip   || '').trim();\nconst agentId   = (agent.id   || '').trim();\n\n// Source IP: Linux = data.srcip, Windows = data.win.eventdata.ipAddress\nconst srcIp = (\n  data.srcip ||\n  (data.win && data.win.eventdata && data.win.eventdata.ipAddress) ||\n  ''\n).trim();\n\n// Dest IP\nconst dstIp = (data.dstip || '').trim();\n\n// Source user: Linux = data.srcuser, Windows = data.win.eventdata.targetUserName\nconst srcUser = (\n  data.srcuser ||\n  (data.win && data.win.eventdata && data.win.eventdata.targetUserName) ||\n  ''\n).trim();\n\n// Build observables — skip empty values\nconst observables = [];\nif (hostname) observables.push({ dataType: 'hostname', data: hostname, message: 'Affected agent/endpoint', tags: ['wazuh-agent'] });\nif (srcIp && srcIp !== '0.0.0.0') observables.push({ dataType: 'ip', data: srcIp, message: 'Source IP from Wazuh alert', tags: ['source-ip'] });\nif (dstIp && dstIp !== '0.0.0.0') observables.push({ dataType: 'ip', data: dstIp, message: 'Destination IP from Wazuh alert', tags: ['dest-ip'] });\nif (agentIp && agentIp !== 'any' && agentIp !== '0.0.0.0') observables.push({ dataType: 'ip', data: agentIp, message: 'Agent IP address', tags: ['agent-ip'] });\nif (srcUser) observables.push({ dataType: 'other', data: srcUser, message: 'Source/target username', tags: ['username'] });\nif (agentId) observables.push({ dataType: 'other', data: agentId, message: 'Wazuh agent ID', tags: ['agent-id', 'wazuh-agent'] });\n\nconst ts = new Date().toISOString().replace(/[-:.TZ]/g, '').slice(0, 15);\nconst sourceRef = `wazuh_${rule.id}_${hostname}_${ts}`;\n\nconst description = [\n  `## 🔴 Alert Overview`,\n  `| Field | Value |`,\n  `|---|---|`,\n  `| **Rule ID** | ${rule.id || 'N/A'} |`,\n  `| **Description** | ${rule.description || 'N/A'} |`,\n  `| **Severity** | Level ${ruleLevel} — ${sevLabel} |`,\n  `| **Agent** | ${hostname} (ID: ${agentId || 'N/A'}, IP: ${agentIp || 'N/A'}) |`,\n  `| **Timestamp** | ${d.timestamp || 'N/A'} |`,\n  `| **Location** | ${d.location || 'N/A'} |`,\n  `| **Rule Groups** | ${ruleTags.join(', ') || 'N/A'} |`,\n  `| **MITRE Tactic** | ${(Array.isArray(mitre.tactic) ? mitre.tactic.join(', ') : mitre.tactic) || 'N/A'} |`,\n  `| **MITRE Technique** | ${mitreTags.join(', ') || 'N/A'} |`,\n  `| **MITRE ID** | ${(Array.isArray(mitre.id) ? mitre.id.join(', ') : mitre.id) || 'N/A'} |`,\n  srcIp   ? `| **Source IP** | ${srcIp} |`   : '',\n  dstIp   ? `| **Dest IP** | ${dstIp} |`     : '',\n  srcUser ? `| **Username** | ${srcUser} |`   : '',\n  `| **Decoder** | ${d.decoder && d.decoder.name || 'N/A'} |`,\n  `| **Rule Fired** | ${rule.firedtimes || 'N/A'} times |`,\n  ``,\n  `## 📁 Raw Log`,\n  '```',\n  d.full_log || 'N/A',\n  '```',\n].filter(Boolean).join('\\n');\n\nconst payload = {\n  title: `[${sevLabel}] ${rule.description || rule.id}`,\n  source: 'wazuh',\n  type: 'security_alert',\n  description: description,\n  sourceRef: sourceRef,\n  severity: severity,\n  summary: `🔴 Rule ${rule.id} | ${rule.description || 'N/A'} | Agent: ${hostname} | Level: ${ruleLevel} - ${sevLabel}`,\n  flag: ruleLevel >= 12,\n  tags: allTags,\n  tlp: ruleLevel >= 12 ? 3 : 2,\n  pap: 2,\n  observables: observables\n};\n\nconsole.log(`Built ${observables.length} observable(s): ${payload.title}`);\nreturn [{ json: { _alert_payload: payload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        784
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Build Alert Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://thehive:9000/api/v1/alert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "theHiveProjectApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._alert_payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        784
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-456789012345",
      "name": "Create Alert (TheHive)",
      "credentials": {
        "theHiveProjectApi": {
          "id": "lNFzPeokhx3NP1Nv",
          "name": "The Hive 5 account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0316159c-81fc-4441-b90a-7691ed05f201",
              "leftValue": "={{ $json.rule.level }}",
              "rightValue": 12,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        576
      ],
      "id": "78a7f9f3-b78b-4aa2-8d3f-e89facb9d529",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "field_map1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "field_map1": {
      "main": [
        [
          {
            "node": "set_field1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_field1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "table1": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Build Alert Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Payload": {
      "main": [
        [
          {
            "node": "Create Alert (TheHive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3aff265g-d587-596c-9172-5d3c789ef622",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2ebe46a2fd80a296ac436b1f9c29895040c59d2e88780d264236c2a31a741e6"
  },
  "id": "ECGFFAjpacc40sHT",
  "tags": []
}
